//
// Alerts
//
@each $name,
$value in $theme-colors {
    .alert-#{$name} {
        background-color: $white;
        color: $value;
        border: 0;
        border-left: 2px solid $value;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    }
    .alert-outline-#{$name} {
        background-color: $white;
        color: $value;
        border: 2px solid $value;
    }
    .alert-#{$name},
    .alert-outline-#{$name} {
        .btn-close {
            color: $value;
            background: transparent escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$value}'><path d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/></svg>"))center / $btn-close-width auto no-repeat;
        }
        .alert-link {
            color: $value;
            font-weight: 700;
            text-decoration: underline;
        }
    }
}

.alert {
    padding: 1rem;
    border-radius: 0;
    font-size: inherit;
    &.alert-light {
        background-color: #fff;
        color: $light;
    }
}
