//
// Avatar
//
.avatar{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    flex-shrink: 0;
    font-weight: 400;
    line-height: 1;
    max-width: 100%;
    max-height: auto;
    text-align: center;
    overflow: hidden;
    position: relative;
    transition: all .2s ease-in-out;
}