//
// Pricing
//
.pricing{
    .price{
        color: $dark;
        @include font-size(2.25rem);
        font-weight: 600;
        line-height: 1.11;
    }
    .price-border-bottom{
        border-bottom: 2px solid $gray-400;
    }
    .price-duration {
        @include font-size(1.25rem);
        font-weight: 500;
        margin-top: auto;
        margin-bottom: .25rem;
        &::before {
            content: "/";
            padding: 0;
        }
    }
    .pricing-title-wrapper{
        &.active{
            .circle{
                background-color: $primary;
            }
        }
    }
}