<div class="row mb-5 mb-lg-8">
    <div class="col-md-3">
        <h3 class="ms-lg-7 text-uppercase">Founded in 2019</h3>
    </div>
    <!-- /.col-md-3 -->
    <div class="col-md-4">
        <div class="col-md-11">
            <p class="fs-16">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac mauris pharetra, cursus lectus non,
                scelerisque mauris. Quisque posuere tincidunt elit, quis varius risus dictum eu. </p>
            <p class="fs-16">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac mauris pharetra, cursus lectus non,
                scelerisque mauris.</p>
        </div>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-5">
        <a href="#" class="spotlight" data-src="img/production/about/about-us-1@2x.jpg">
            <img class="img-fluid" src="img/production/about/about-us-1.jpg" srcset="img/production/about/about-us-1@2x.jpg 2x" alt="About us">
        </a>
    </div>
    <!-- /.col-md-5 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-md-3">
        <h3 class="ms-lg-7 text-uppercase">Growing<br>partnership</h3>
    </div>
    <!-- /.col-md-3 -->
    <div class="col-md-4 mb-3 mb-md-0">
        <a href="#" class="spotlight" data-src="img/production/about/about-us-2@2x.jpg">
            <img class="img-fluid" src="img/production/about/about-us-2.jpg" srcset="img/production/about/about-us-2@2x.jpg 2x" alt="About us">
        </a>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-5">
        <div class="d-md-flex flex-column h-100 align-items-center col-md-10 mx-auto">
            <div class="mb-3 mb-xl-0">
                <p class="mb-0 fs-16">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac mauris pharetra, cursus
                    lectus non,
                    scelerisque mauris. Quisque posuere tincidunt elit, quis varius risus dictum eu. </p>
            </div>
            <div class="w-100 mt-auto text-left">
                <a href="about.html" class="btn btn-more text-uppercase"><span class="btn-label">Read More</span></a>
            </div>
        </div>
    </div>
    <!-- /.col-md-5 -->
</div>
<!-- /.row -->