<div class="row">
    <div class="col-lg-10 col-md-12 offset-lg-2">
        <div class="achievment-stage-wrapper">
            <div class="achievment-stage">
                <div class="achievment">
                    <div class="achievment-inner">
                        <div class="achievment-circle achievment-circle-lg">
                            <div class="achievment-circle-inner text-center">
                                <h3 class="achievment-number counter h2">480</h3>
                                <span class="achievment-title text-uppercase">Satisfied Clients</span>
                            </div>
                        </div>
                    </div>
                    <!--/.achievment-inner -->
                </div>
                <!--/.achievment -->
                <div class="achievment">
                    <div class="achievment-inner">
                        <div class="achievment-circle">
                            <div class="achievment-circle-inner text-center">
                                <h3 class="achievment-number counter h2">780</h3>
                                <span class="achievment-title text-uppercase">Finished projects</span>
                            </div>
                        </div>
                    </div>
                    <!--/.achievment-inner -->
                </div>
                <!--/.achievment -->
                <div class="achievment">
                    <div class="achievment-inner">
                        <div class="achievment-circle achievment-circle-sm">
                            <div class="achievment-circle-inner text-center">
                                <h3 class="achievment-number counter h2">120</h3>
                                <span class="achievment-title text-uppercase">Design Awwards</span>
                            </div>
                        </div>
                    </div>
                    <!--/.achievment-inner -->
                </div>
                <!--/.achievment -->
            </div>
            <!-- /.achievment-stage-wrapper -->
        </div>
        <!-- /.achievment-stage -->
    </div>
    <!-- /.col-md-10 offset-md-2 -->
</div>
<!-- /.row -->
