<div class="orica-carousel">
    <div class="swiper swiper-container" data-swiper='{"breakpoints":{"0": {"slidesPerView": 2,"spaceBetween": 0}, "768": {"slidesPerView": 4,"spaceBetween": 32}, "1400": {"slidesPerView": 6,"spaceBetween": 32}}}'>
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="client-logo border-start border-2 border-gray-400 text-center py-2">
                    <img src="img/production/partners/partner-logo.jpg" scrcset="img/production/partners/partner-logo@2x.jpg 2x" alt="">
                </div>
            </div>
            <!--end col-->

            <div class="swiper-slide">
                <div class="client-logo border-start border-2 border-gray-400 text-center py-2">
                    <img src="img/production/partners/partner-logo.jpg" scrcset="img/production/partners/partner-logo@2x.jpg 2x" alt="">
                </div>
            </div>
            <!--end col-->

            <div class="swiper-slide">
                <div class="client-logo border-start border-2 border-gray-400 text-center py-2">
                    <img src="img/production/partners/partner-logo.jpg" scrcset="img/production/partners/partner-logo@2x.jpg 2x" alt="">
                </div>
            </div>
            <!--end col-->

            <div class="swiper-slide">
                <div class="client-logo border-start border-2 border-gray-400 text-center py-2">
                    <img src="img/production/partners/partner-logo.jpg" scrcset="img/production/partners/partner-logo@2x.jpg 2x" alt="">
                </div>
            </div>
            <!--end col-->

            <div class="swiper-slide">
                <div class="client-logo border-start border-2 border-gray-400 text-center py-2">
                    <img src="img/production/partners/partner-logo.jpg" scrcset="img/production/partners/partner-logo@2x.jpg 2x" alt="">
                </div>
            </div>
            <!--end col-->

            <div class="swiper-slide">
                <div class="client-logo border-start border-2 border-gray-400 text-center py-2">
                    <img src="img/production/partners/partner-logo.jpg" scrcset="img/production/partners/partner-logo@2x.jpg 2x" alt="">
                </div>
            </div>
            <!--end col-->
        </div>
    </div>
</div>