<div class="row justify-content-center">
    <div class="col-lg-2 col-md-4 col-6 text-center py-2">
        <div class="client-logo border-start border-2 border-gray-400 text-center py-2">
            <img src="img/production/partners/partner-logo.jpg" scrcset="img/production/partners/partner-logo@2x.jpg 2x" alt="">
        </div>
    </div>
    <!--end col-->

    <div class="col-lg-2 col-md-4 col-6 text-center py-2">
        <div class="client-logo border-start border-2 border-gray-400 text-center py-2">
            <img src="img/production/partners/partner-logo.jpg" scrcset="img/production/partners/partner-logo@2x.jpg 2x" alt="">
        </div>
    </div>
    <!--end col-->

    <div class="col-lg-2 col-md-4 col-6 text-center py-2">
        <div class="client-logo border-start border-2 border-gray-400 text-center py-2">
            <img src="img/production/partners/partner-logo.jpg" scrcset="img/production/partners/partner-logo@2x.jpg 2x" alt="">
        </div>
    </div>
    <!--end col-->

    <div class="col-lg-2 col-md-4 col-6 text-center py-2">
        <div class="client-logo border-start border-2 border-gray-400 text-center py-2">
            <img src="img/production/partners/partner-logo.jpg" scrcset="img/production/partners/partner-logo@2x.jpg 2x" alt="">
        </div>
    </div>
    <!--end col-->

    <div class="col-lg-2 col-md-4 col-6 text-center py-2">
        <div class="client-logo border-start border-2 border-gray-400 text-center py-2">
            <img src="img/production/partners/partner-logo.jpg" scrcset="img/production/partners/partner-logo@2x.jpg 2x" alt="">
        </div>
    </div>
    <!--end col-->

    <div class="col-lg-2 col-md-4 col-6 text-center py-2">
        <div class="client-logo border-start border-2 border-gray-400 text-center py-2">
            <img src="img/production/partners/partner-logo.jpg" scrcset="img/production/partners/partner-logo@2x.jpg 2x" alt="">
        </div>
    </div>
    <!--end col-->
</div>
<div class="row justify-content-center">
    <div class="col-lg-2 col-md-4 col-6 text-center py-2">
        <div class="client-logo border-start border-2 border-gray-400 text-center py-2">
            <img src="img/production/partners/partner-logo.jpg" scrcset="img/production/partners/partner-logo@2x.jpg 2x" alt="">
        </div>
    </div>
    <!--end col-->

    <div class="col-lg-2 col-md-4 col-6 text-center py-2">
        <div class="client-logo border-start border-2 border-gray-400 text-center py-2">
            <img src="img/production/partners/partner-logo.jpg" scrcset="img/production/partners/partner-logo@2x.jpg 2x" alt="">
        </div>
    </div>
    <!--end col-->

    <div class="col-lg-2 col-md-4 col-6 text-center py-2">
        <div class="client-logo border-start border-2 border-gray-400 text-center py-2">
            <img src="img/production/partners/partner-logo.jpg" scrcset="img/production/partners/partner-logo@2x.jpg 2x" alt="">
        </div>
    </div>
    <!--end col-->

    <div class="col-lg-2 col-md-4 col-6 text-center py-2">
        <div class="client-logo border-start border-2 border-gray-400 text-center py-2">
            <img src="img/production/partners/partner-logo.jpg" scrcset="img/production/partners/partner-logo@2x.jpg 2x" alt="">
        </div>
    </div>
    <!--end col-->

    <div class="col-lg-2 col-md-4 col-6 text-center py-2">
        <div class="client-logo border-start border-2 border-gray-400 text-center py-2">
            <img src="img/production/partners/partner-logo.jpg" scrcset="img/production/partners/partner-logo@2x.jpg 2x" alt="">
        </div>
    </div>
    <!--end col-->

    <div class="col-lg-2 col-md-4 col-6 text-center py-2">
        <div class="client-logo border-start border-2 border-gray-400 text-center py-2">
            <img src="img/production/partners/partner-logo.jpg" scrcset="img/production/partners/partner-logo@2x.jpg 2x" alt="">
        </div>
    </div>
    <!--end col-->
</div>