<!-- Cookie Popup Start -->
<div class="cookie-popup cookie-popup-right bg-white shadow-lg rounded py-2 px-4 d-flex flex-column flex-md-row justify-content-between align-items-center">
    <div class="cookie-popup-content">
        <p class="mb-0">We use cookies to ensure you get the best experience on our website<br/> <a class="learn-more" href="#">learn more</a></p>
    </div>
    <div class="cookie-popup-actions d-flex flex-column flex-lg-row">
        <button class="btn btn-light btn-sm d-sm-block decline-cookie" type="button">Decline</button>
        <button class="btn btn-dark btn-sm d-sm-block accept-cookie" type="button">Accept</button>
    </div>
</div>
<!-- Cookie Popup End -->