<div class="row">
    <div class="col-md-3 offset-lg-3">
      <div class="feature card border-0 has-border-left overflow-hidden">
        <div class="feature-inner card-body py-4 px-2">
          <div class="feature-icon icon-circle">
            <span class="icon-text">01</span>
          </div>
          <h4 class="feature-title">Fill the form</h4>
          <p class="feature-desc mb-0">Lorem ipsum dolor sit amet, consectetur adipisclit. Nullam convallis
            fermentumurna vitae.</p>
        </div>
      </div><!-- /.feature -->
    </div><!-- /.col-md-3 -->
    <div class="col-md-3">
      <div class="feature card border-0 has-border-left overflow-hidden">
        <div class="feature-inner card-body py-4 px-2">
          <div class="feature-icon icon-circle">
            <span class="icon-text">02</span>
          </div>
          <h4 class="feature-title">Get a quote</h4>
          <p class="feature-desc mb-0">Lorem ipsum dolor sit amet, consectetur adipisclit. Nullam convallis
            fermentumurna vitae.</p>
        </div>
      </div><!-- /.feature -->
    </div><!-- /.col-md-3 -->
    <div class="col-md-3">
      <div class="feature card border-0 has-border-left overflow-hidden">
        <div class="feature-inner card-body py-4 px-2">
          <div class="feature-icon icon-circle">
            <span class="icon-text">03</span>
          </div>
          <h4 class="feature-title">Relax</h4>
          <p class="feature-desc mb-0">Lorem ipsum dolor sit amet, consectetur adipisclit. Nullam convallis
            fermentumurna vitae.</p>
        </div>
      </div><!-- /.feature -->
    </div><!-- /.col-md-3 -->
  </div>
  <!-- /.row -->