<div class="row">
    <div class="col-lg-4">
        <div class="d-md-flex flex-column ms-lg-7 h-100 align-items-start">
            <!--/#pills-tab-->
            <ul class="nav tabs-nav list-nav hover-circle flex-column mb-lg-0 mb-4">
                <li class="nav-item" role="presentation">
                    <a class="active text-uppercase" id="pills-all-articles-tab" data-bs-toggle="pill"
                        href="#pills-all-articles" role="tab" aria-controls="pills-all-articles" aria-selected="true">
                        All Articles
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="text-uppercase" id="pills-color-tab" data-bs-toggle="pill" href="#pills-color"
                        role="tab" aria-controls="pills-color" aria-selected="false">
                        Color
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="text-uppercase" id="pills-ux-theory-tab" data-bs-toggle="pill"
                        href="#pills-ux-theory" role="tab" aria-controls="pills-ux-theory"
                        aria-selected="false">
                        UX Theory
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="text-uppercase" id="pills-typography-tab" data-bs-toggle="pill" href="#pills-typography"
                        role="tab" aria-controls="pills-typography" aria-selected="false">
                        Typography
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="text-uppercase" id="pills-other-articles-tab" data-bs-toggle="pill" href="#pills-other-articles"
                        role="tab" aria-controls="pills-other-articles" aria-selected="false">
                        Other
                    </a>
                </li>
            </ul>

            <div class="mt-auto d-none d-lg-block">
                <a class="btn btn-more btn-load-more text-uppercase"><span class="btn-label">See More</span></a>
            </div>
        </div>
    </div>
    <!-- /.col-md-3 -->
    <div class="col-lg-8">
        <div class="row">
            <div class="tab-content" id="blog-pills-tabContent">
                <div class="tab-pane fade show pt-4 has-border-top-light active" id="pills-all-articles" role="tabpanel"
                    aria-labelledby="pills-all-articles-tab">
                    <div class="row">
                        <div class="col-lg-12">
                            <article class="post post-list-item d-md-flex align-items-center mb-8">
                                <div  class=" post-thumb hover-zoomout mb-3 mb-md-0" data-hoverable="true" data-cursor-text="Read more">
                                    <a href="#">
                                        <img src="img/production/blog/post-thumb-5.jpg" srcset="img/production/blog/post-thumb-5@2x.jpg 2x" alt="Blog post">
                                    </a>
                                </div>
                                <!-- /.post-thumb -->
                                <div class="post-content ms-md-4">
                                    <div class="post-meta">
                                        <ul class="list-unstyled categories-list mb-0">
                                            <li><a href="#">Typography</a></li>
                                            <li><a href="#">Color</a></li>
                                        </ul>
                                    </div>
                                    <!-- /.post-meta -->
                                    <div class="post-header mt-2">
                                        <h5 class="post-title h5 text-uppercase">
                                            <a class="link-dark" href="javascript:void(0)">
                                                Color theory in graphic design system Color theory
                                            </a>
                                        </h5>
                                    </div>
                                    <!-- /.post-header -->
                                    <div class="post-desc mt-2">
                                        <p class="mb-0">
                                            Once your order has been processed, your meals will be . Once your order has been processed, your meals will be shipped.
                                        </p>
                                    </div>
                                    <!-- /.post-desc -->
                                    <div class="post-meta">
                                        <span class="date">02.22.2022</span>
                                    </div>
                                    <!-- /.post-meta -->
                                </div>
                                <!-- /.post-content -->                       
                            </article>
                            <!-- /.post -->
                        </div>
                        <!-- /.col-lg-12 -->
                        <div class="col-lg-12">
                            <article class="post post-list-item d-md-flex align-items-center mb-8">
                                <div  class=" post-thumb hover-zoomout mb-3 mb-md-0" data-hoverable="true" data-cursor-text="Read more">
                                    <a href="#">
                                        <img src="img/production/blog/post-thumb-5.jpg" srcset="img/production/blog/post-thumb-5@2x.jpg 2x" alt="Blog post">
                                    </a>
                                </div>
                                <!-- /.post-thumb -->
                                <div class="post-content ms-md-4">
                                    <div class="post-meta">
                                        <ul class="list-unstyled categories-list mb-0">
                                            <li><a href="#">Typography</a></li>
                                            <li><a href="#">Color</a></li>
                                        </ul>
                                    </div>
                                    <!-- /.post-meta -->
                                    <div class="post-header mt-2">
                                        <h5 class="post-title h5 text-uppercase">
                                            <a class="link-dark" href="javascript:void(0)">
                                                Color theory in graphic design system Color theory
                                            </a>
                                        </h5>
                                    </div>
                                    <!-- /.post-header -->
                                    <div class="post-desc mt-2">
                                        <p class="mb-0">
                                            Once your order has been processed, your meals will be . Once your order has been processed, your meals will be shipped.
                                        </p>
                                    </div>
                                    <!-- /.post-desc -->
                                    <div class="post-meta">
                                        <span class="date">02.22.2022</span>
                                    </div>
                                    <!-- /.post-meta -->
                                </div>
                                <!-- /.post-content -->                       
                            </article>
                            <!-- /.post -->
                        </div>
                        <!-- /.col-lg-12 -->
                        <div class="col-lg-12">
                            <article class="post post-list-item d-md-flex align-items-center mb-8">
                                <div  class=" post-thumb hover-zoomout mb-3 mb-md-0" data-hoverable="true" data-cursor-text="Read more">
                                    <a href="#">
                                        <img src="img/production/blog/post-thumb-5.jpg" srcset="img/production/blog/post-thumb-5@2x.jpg 2x" alt="Blog post">
                                    </a>
                                </div>
                                <!-- /.post-thumb -->
                                <div class="post-content ms-md-4">
                                    <div class="post-meta">
                                        <ul class="list-unstyled categories-list mb-0">
                                            <li><a href="#">Typography</a></li>
                                            <li><a href="#">Color</a></li>
                                        </ul>
                                    </div>
                                    <!-- /.post-meta -->
                                    <div class="post-header mt-2">
                                        <h5 class="post-title h5 text-uppercase">
                                            <a class="link-dark" href="javascript:void(0)">
                                                Color theory in graphic design system Color theory
                                            </a>
                                        </h5>
                                    </div>
                                    <!-- /.post-header -->
                                    <div class="post-desc mt-2">
                                        <p class="mb-0">
                                            Once your order has been processed, your meals will be . Once your order has been processed, your meals will be shipped.
                                        </p>
                                    </div>
                                    <!-- /.post-desc -->
                                    <div class="post-meta">
                                        <span class="date">02.22.2022</span>
                                    </div>
                                    <!-- /.post-meta -->
                                </div>
                                <!-- /.post-content -->                       
                            </article>
                            <!-- /.post -->
                        </div>
                        <!-- /.col-lg-12 -->
                        <div class="col-lg-12">
                            <article class="post post-list-item d-md-flex align-items-center mb-0">
                                <div  class=" post-thumb hover-zoomout mb-3 mb-md-0" data-hoverable="true" data-cursor-text="Read more">
                                    <a href="#">
                                        <img src="img/production/blog/post-thumb-5.jpg" srcset="img/production/blog/post-thumb-5@2x.jpg 2x" alt="Blog post">
                                    </a>
                                </div>
                                <!-- /.post-thumb -->
                                <div class="post-content ms-md-4">
                                    <div class="post-meta">
                                        <ul class="list-unstyled categories-list mb-0">
                                            <li><a href="#">Typography</a></li>
                                            <li><a href="#">Color</a></li>
                                        </ul>
                                    </div>
                                    <!-- /.post-meta -->
                                    <div class="post-header mt-2">
                                        <h5 class="post-title h5 text-uppercase">
                                            <a class="link-dark" href="javascript:void(0)">
                                                Color theory in graphic design system Color theory
                                            </a>
                                        </h5>
                                    </div>
                                    <!-- /.post-header -->
                                    <div class="post-desc mt-2">
                                        <p class="mb-0">
                                            Once your order has been processed, your meals will be . Once your order has been processed, your meals will be shipped.
                                        </p>
                                    </div>
                                    <!-- /.post-desc -->
                                    <div class="post-meta">
                                        <span class="date">02.22.2022</span>
                                    </div>
                                    <!-- /.post-meta -->
                                </div>
                                <!-- /.post-content -->                       
                            </article>
                            <!-- /.post -->
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.tab-pane #pills-all-articles -->
                <div class="tab-pane fade show pt-4 has-border-top-light" id="pills-color" role="tabpanel"
                    aria-labelledby="pills-color-tab">
                    <div class="row">
                        <div class="col-lg-12">
                            <article class="post post-list-item d-md-flex align-items-center mb-0">
                                <div  class=" post-thumb hover-zoomout mb-3 mb-md-0" data-hoverable="true" data-cursor-text="Read more">
                                    <a href="#">
                                        <img src="img/production/blog/post-thumb-5.jpg" srcset="img/production/blog/post-thumb-5@2x.jpg 2x" alt="Blog post">
                                    </a>
                                </div>
                                <!-- /.post-thumb -->
                                <div class="post-content ms-md-4">
                                    <div class="post-meta">
                                        <ul class="list-unstyled categories-list mb-0">
                                            <li><a href="#">Typography</a></li>
                                            <li><a href="#">Color</a></li>
                                        </ul>
                                    </div>
                                    <!-- /.post-meta -->
                                    <div class="post-header mt-2">
                                        <h5 class="post-title h5 text-uppercase">
                                            <a class="link-dark" href="javascript:void(0)">
                                                Color theory in graphic design system Color theory
                                            </a>
                                        </h5>
                                    </div>
                                    <!-- /.post-header -->
                                    <div class="post-desc mt-2">
                                        <p class="mb-0">
                                            Once your order has been processed, your meals will be . Once your order has been processed, your meals will be shipped.
                                        </p>
                                    </div>
                                    <!-- /.post-desc -->
                                    <div class="post-meta">
                                        <span class="date">02.22.2022</span>
                                    </div>
                                    <!-- /.post-meta -->
                                </div>
                                <!-- /.post-content -->                       
                            </article>
                            <!-- /.post -->
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.tab-pane #pills-color -->
                <div class="tab-pane fade show pt-4 has-border-top-light" id="pills-ux-theory" role="tabpanel"
                    aria-labelledby="pills-ux-theory-tab">
                     <div class="row">
                        <div class="col-lg-12">
                            <article class="post post-list-item d-md-flex align-items-center mb-8">
                                <div  class=" post-thumb hover-zoomout mb-3 mb-md-0" data-hoverable="true" data-cursor-text="Read more">
                                    <a href="#">
                                        <img src="img/production/blog/post-thumb-5.jpg" srcset="img/production/blog/post-thumb-5@2x.jpg 2x" alt="Blog post">
                                    </a>
                                </div>
                                <!-- /.post-thumb -->
                                <div class="post-content ms-md-4">
                                    <div class="post-meta">
                                        <ul class="list-unstyled categories-list mb-0">
                                            <li><a href="#">Typography</a></li>
                                            <li><a href="#">Color</a></li>
                                        </ul>
                                    </div>
                                    <!-- /.post-meta -->
                                    <div class="post-header mt-2">
                                        <h5 class="post-title h5 text-uppercase">
                                            <a class="link-dark" href="javascript:void(0)">
                                                Color theory in graphic design system Color theory
                                            </a>
                                        </h5>
                                    </div>
                                    <!-- /.post-header -->
                                    <div class="post-desc mt-2">
                                        <p class="mb-0">
                                            Once your order has been processed, your meals will be . Once your order has been processed, your meals will be shipped.
                                        </p>
                                    </div>
                                    <!-- /.post-desc -->
                                    <div class="post-meta">
                                        <span class="date">02.22.2022</span>
                                    </div>
                                    <!-- /.post-meta -->
                                </div>
                                <!-- /.post-content -->                       
                            </article>
                            <!-- /.post -->
                        </div>
                        <!-- /.col-lg-12 -->
                        <div class="col-lg-12">
                            <article class="post post-list-item d-md-flex align-items-center mb-0">
                                <div  class=" post-thumb hover-zoomout mb-3 mb-md-0" data-hoverable="true" data-cursor-text="Read more">
                                    <a href="#">
                                        <img src="img/production/blog/post-thumb-5.jpg" srcset="img/production/blog/post-thumb-5@2x.jpg 2x" alt="Blog post">
                                    </a>
                                </div>
                                <!-- /.post-thumb -->
                                <div class="post-content ms-md-4">
                                    <div class="post-meta">
                                        <ul class="list-unstyled categories-list mb-0">
                                            <li><a href="#">Typography</a></li>
                                            <li><a href="#">Color</a></li>
                                        </ul>
                                    </div>
                                    <!-- /.post-meta -->
                                    <div class="post-header mt-2">
                                        <h5 class="post-title h5 text-uppercase">
                                            <a class="link-dark" href="javascript:void(0)">
                                                Color theory in graphic design system Color theory
                                            </a>
                                        </h5>
                                    </div>
                                    <!-- /.post-header -->
                                    <div class="post-desc mt-2">
                                        <p class="mb-0">
                                            Once your order has been processed, your meals will be . Once your order has been processed, your meals will be shipped.
                                        </p>
                                    </div>
                                    <!-- /.post-desc -->
                                    <div class="post-meta">
                                        <span class="date">02.22.2022</span>
                                    </div>
                                    <!-- /.post-meta -->
                                </div>
                                <!-- /.post-content -->                       
                            </article>
                            <!-- /.post -->
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.tab-pane #pills-ux-theory -->
                <div class="tab-pane fade show pt-4 has-border-top-light" id="pills-typography" role="tabpanel"
                    aria-labelledby="pills-typography-tab">
                    <div class="row">
                        <div class="col-lg-12">
                            <article class="post post-list-item d-md-flex align-items-center mb-8">
                                <div  class=" post-thumb hover-zoomout mb-3 mb-md-0" data-hoverable="true" data-cursor-text="Read more">
                                    <a href="#">
                                        <img src="img/production/blog/post-thumb-5.jpg" srcset="img/production/blog/post-thumb-5@2x.jpg 2x" alt="Blog post">
                                    </a>
                                </div>
                                <!-- /.post-thumb -->
                                <div class="post-content ms-md-4">
                                    <div class="post-meta">
                                        <ul class="list-unstyled categories-list mb-0">
                                            <li><a href="#">Typography</a></li>
                                            <li><a href="#">Color</a></li>
                                        </ul>
                                    </div>
                                    <!-- /.post-meta -->
                                    <div class="post-header mt-2">
                                        <h5 class="post-title h5 text-uppercase">
                                            <a class="link-dark" href="javascript:void(0)">
                                                Color theory in graphic design system Color theory
                                            </a>
                                        </h5>
                                    </div>
                                    <!-- /.post-header -->
                                    <div class="post-desc mt-2">
                                        <p class="mb-0">
                                            Once your order has been processed, your meals will be . Once your order has been processed, your meals will be shipped.
                                        </p>
                                    </div>
                                    <!-- /.post-desc -->
                                    <div class="post-meta">
                                        <span class="date">02.22.2022</span>
                                    </div>
                                    <!-- /.post-meta -->
                                </div>
                                <!-- /.post-content -->                       
                            </article>
                            <!-- /.post -->
                        </div>
                        <!-- /.col-lg-12 -->
                        <div class="col-lg-12">
                            <article class="post post-list-item d-md-flex align-items-center mb-8">
                                <div  class=" post-thumb hover-zoomout mb-3 mb-md-0" data-hoverable="true" data-cursor-text="Read more">
                                    <a href="#">
                                        <img src="img/production/blog/post-thumb-5.jpg" srcset="img/production/blog/post-thumb-5@2x.jpg 2x" alt="Blog post">
                                    </a>
                                </div>
                                <!-- /.post-thumb -->
                                <div class="post-content ms-md-4">
                                    <div class="post-meta">
                                        <ul class="list-unstyled categories-list mb-0">
                                            <li><a href="#">Typography</a></li>
                                            <li><a href="#">Color</a></li>
                                        </ul>
                                    </div>
                                    <!-- /.post-meta -->
                                    <div class="post-header mt-2">
                                        <h5 class="post-title h5 text-uppercase">
                                            <a class="link-dark" href="javascript:void(0)">
                                                Color theory in graphic design system Color theory
                                            </a>
                                        </h5>
                                    </div>
                                    <!-- /.post-header -->
                                    <div class="post-desc mt-2">
                                        <p class="mb-0">
                                            Once your order has been processed, your meals will be . Once your order has been processed, your meals will be shipped.
                                        </p>
                                    </div>
                                    <!-- /.post-desc -->
                                    <div class="post-meta">
                                        <span class="date">02.22.2022</span>
                                    </div>
                                    <!-- /.post-meta -->
                                </div>
                                <!-- /.post-content -->                       
                            </article>
                            <!-- /.post -->
                        </div>
                        <!-- /.col-lg-12 -->
                        <div class="col-lg-12">
                            <article class="post post-list-item d-md-flex align-items-center mb-0">
                                <div  class=" post-thumb hover-zoomout mb-3 mb-md-0" data-hoverable="true" data-cursor-text="Read more">
                                    <a href="#">
                                        <img src="img/production/blog/post-thumb-5.jpg" srcset="img/production/blog/post-thumb-5@2x.jpg 2x" alt="Blog post">
                                    </a>
                                </div>
                                <!-- /.post-thumb -->
                                <div class="post-content ms-md-4">
                                    <div class="post-meta">
                                        <ul class="list-unstyled categories-list mb-0">
                                            <li><a href="#">Typography</a></li>
                                            <li><a href="#">Color</a></li>
                                        </ul>
                                    </div>
                                    <!-- /.post-meta -->
                                    <div class="post-header mt-2">
                                        <h5 class="post-title h5 text-uppercase">
                                            <a class="link-dark" href="javascript:void(0)">
                                                Color theory in graphic design system Color theory
                                            </a>
                                        </h5>
                                    </div>
                                    <!-- /.post-header -->
                                    <div class="post-desc mt-2">
                                        <p class="mb-0">
                                            Once your order has been processed, your meals will be . Once your order has been processed, your meals will be shipped.
                                        </p>
                                    </div>
                                    <!-- /.post-desc -->
                                    <div class="post-meta">
                                        <span class="date">02.22.2022</span>
                                    </div>
                                    <!-- /.post-meta -->
                                </div>
                                <!-- /.post-content -->                       
                            </article>
                            <!-- /.post -->
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.tab-pane #pills-typography -->
                <div class="tab-pane fade show pt-4 has-border-top-light" id="pills-other-articles" role="tabpanel"
                    aria-labelledby="pills-other-articles-tab">
                    <div class="row">
                        <div class="col-lg-12">
                            <article class="post post-list-item d-md-flex align-items-center mb-8">
                                <div  class=" post-thumb hover-zoomout mb-3 mb-md-0" data-hoverable="true" data-cursor-text="Read more">
                                    <a href="#">
                                        <img src="img/production/blog/post-thumb-5.jpg" srcset="img/production/blog/post-thumb-5@2x.jpg 2x" alt="Blog post">
                                    </a>
                                </div>
                                <!-- /.post-thumb -->
                                <div class="post-content ms-md-4">
                                    <div class="post-meta">
                                        <ul class="list-unstyled categories-list mb-0">
                                            <li><a href="#">Typography</a></li>
                                            <li><a href="#">Color</a></li>
                                        </ul>
                                    </div>
                                    <!-- /.post-meta -->
                                    <div class="post-header mt-2">
                                        <h5 class="post-title h5 text-uppercase">
                                            <a class="link-dark" href="javascript:void(0)">
                                                Color theory in graphic design system Color theory
                                            </a>
                                        </h5>
                                    </div>
                                    <!-- /.post-header -->
                                    <div class="post-desc mt-2">
                                        <p class="mb-0">
                                            Once your order has been processed, your meals will be . Once your order has been processed, your meals will be shipped.
                                        </p>
                                    </div>
                                    <!-- /.post-desc -->
                                    <div class="post-meta">
                                        <span class="date">02.22.2022</span>
                                    </div>
                                    <!-- /.post-meta -->
                                </div>
                                <!-- /.post-content -->                       
                            </article>
                            <!-- /.post -->
                        </div>
                        <!-- /.col-lg-12 -->
                        <div class="col-lg-12">
                            <article class="post post-list-item d-md-flex align-items-center mb-0">
                                <div  class=" post-thumb hover-zoomout mb-3 mb-md-0" data-hoverable="true" data-cursor-text="Read more">
                                    <a href="#">
                                        <img src="img/production/blog/post-thumb-5.jpg" srcset="img/production/blog/post-thumb-5@2x.jpg 2x" alt="Blog post">
                                    </a>
                                </div>
                                <!-- /.post-thumb -->
                                <div class="post-content ms-md-4">
                                    <div class="post-meta">
                                        <ul class="list-unstyled categories-list mb-0">
                                            <li><a href="#">Typography</a></li>
                                            <li><a href="#">Color</a></li>
                                        </ul>
                                    </div>
                                    <!-- /.post-meta -->
                                    <div class="post-header mt-2">
                                        <h5 class="post-title h5 text-uppercase">
                                            <a class="link-dark" href="javascript:void(0)">
                                                Color theory in graphic design system Color theory
                                            </a>
                                        </h5>
                                    </div>
                                    <!-- /.post-header -->
                                    <div class="post-desc mt-2">
                                        <p class="mb-0">
                                            Once your order has been processed, your meals will be . Once your order has been processed, your meals will be shipped.
                                        </p>
                                    </div>
                                    <!-- /.post-desc -->
                                    <div class="post-meta">
                                        <span class="date">02.22.2022</span>
                                    </div>
                                    <!-- /.post-meta -->
                                </div>
                                <!-- /.post-content -->                       
                            </article>
                            <!-- /.post -->
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.tab-pane #pills-other-articles -->
            </div>
            <!-- /.tab-content -->
            <div class="mb-8 mt-4 mb-lg-0 d-block d-lg-none">
                <a href="blog.html" class="btn btn-more btn-load-more text-uppercase"><span class="btn-label">See More</span></a>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.col-md-9 -->
</div>
<!-- /.row -->