<div class="row">
    <div class="col-lg-9 order-lg-2">
        <div class="row">
            <div class="col-12">
                <hr class="mt-0 mb-4">
            </div>
            <!-- /.col-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-3 mb-lg-8">
                <article class="post">
                    <div class="post-meta">
                        <ul class="categories-list mb-1">
                            <li><a href="#">Typography</a></li>
                            <li><a href="#">Color</a></li>
                        </ul>
                    </div>
                    <!-- /.post-meta -->
                    <div  class="post-thumb hover-zoomout mb-2"  data-hoverable="true" data-cursor-text="Read more">
                        <a href="blog-details.html">
                            <figure class="mb-2" data-hoverable="true" data-cursor-text="Read more">
                              <img src="img/production/blog/post-thumb-1.jpg" srcset="img/production/blog/post-thumb-1@2x.jpg 2x" alt="">
                            </figure>
                          </a>
                    </div>
                    <!-- /.post-thumb -->
                    <div class="post-header mt-2">
                        <h5 class="post-title mb-0 h5 text-uppercase">
                            <a class="link-dark" href="blog-details.html">
                                Color theory in graphic design system Color theory
                            </a>
                        </h5>
                    </div>
                    <!-- /.post-header -->
                </article>
                <!-- /.blog-post -->
            </div>
            <!-- /.col-lg-4 col-md-6 mb-3 mb-lg-8 -->
            <div class="col-lg-4 col-md-6 mb-3 mb-lg-8">
                <article class="post">
                    <div class="post-meta">
                        <ul class="categories-list mb-1">
                            <li><a href="#">Typography</a></li>
                            <li><a href="#">Color</a></li>
                        </ul>
                    </div>
                    <!-- /.post-meta -->
                    <div  class="post-thumb hover-zoomout">
                        <a href="blog-details.html">
                            <figure class="mb-2" data-hoverable="true" data-cursor-text="Read more">
                              <img src="img/production/blog/post-thumb-2.jpg" srcset="img/production/blog/post-thumb-2@2x.jpg 2x" alt="">
                            </figure>
                          </a>
                    </div>
                    <!-- /.post-thumb -->
                    <div class="post-header mt-2">
                        <h5 class="post-title mb-0 h5 text-uppercase">
                            <a class="link-dark" href="blog-details.html">
                                Color theory in graphic design system Color theory
                            </a>
                        </h5>
                    </div>
                    <!-- /.post-header -->
                </article>
                <!-- /.blog-post -->
            </div>
            <!-- /.col-lg-4 col-md-6 mb-3 mb-lg-8 -->
            <div class="col-lg-4 col-md-6 mb-3 mb-lg-8">
                <article class="post">
                    <div class="post-meta">
                        <ul class="categories-list mb-1">
                            <li><a href="#">Typography</a></li>
                            <li><a href="#">Color</a></li>
                        </ul>
                    </div>
                    <!-- /.post-meta -->
                    <div  class="post-thumb hover-zoomout">
                        <a href="blog-details.html">
                            <figure class="mb-2" data-hoverable="true" data-cursor-text="Read more">
                              <img src="img/production/blog/post-thumb-3.jpg" srcset="img/production/blog/post-thumb-3@2x.jpg 2x" alt="">
                            </figure>
                          </a>
                    </div>
                    <!-- /.post-thumb -->
                    <div class="post-header mt-2">
                        <h5 class="post-title mb-0 h5 text-uppercase">
                            <a class="link-dark" href="blog-details.html">
                                Color theory in graphic design system Color theory
                            </a>
                        </h5>
                    </div>
                    <!-- /.post-header -->
                </article>
                <!-- /.blog-post -->
            </div>
            <!-- /.col-lg-4 col-md-6 mb-3 mb-lg-8 -->
            <div class="col-lg-4 col-md-6 mb-3 mb-lg-0">
                <article class="post">
                    <div class="post-meta">
                        <ul class="categories-list mb-1">
                            <li><a href="#">Typography</a></li>
                            <li><a href="#">Color</a></li>
                        </ul>
                    </div>
                    <!-- /.post-meta -->
                    <div  class="post-thumb hover-zoomout">
                        <a href="blog-details.html">
                            <figure class="mb-2" data-hoverable="true" data-cursor-text="Read more">
                              <img src="img/production/blog/post-thumb-4.jpg" srcset="img/production/blog/post-thumb-4@2x.jpg 2x" alt="">
                            </figure>
                          </a>
                    </div>
                    <!-- /.post-thumb -->
                    <div class="post-header mt-2">
                        <h5 class="post-title mb-0 h5 text-uppercase">
                            <a class="link-dark" href="blog-details.html">
                                Color theory in graphic design system Color theory
                            </a>
                        </h5>
                    </div>
                    <!-- /.post-header -->
                </article>
                <!-- /.blog-post -->
            </div>
            <!-- /.col-lg-4 col-md-6 mb-3 mb-lg-0 -->
            <div class="col-lg-4 col-md-6 mb-3 mb-lg-0">
                <article class="post">
                    <div class="post-meta">
                        <ul class="categories-list mb-1">
                            <li><a href="#">Typography</a></li>
                            <li><a href="#">Color</a></li>
                        </ul>
                    </div>
                    <!-- /.post-meta -->
                    <div  class="post-thumb hover-zoomout">
                        <a href="blog-details.html">
                            <figure class="mb-2" data-hoverable="true" data-cursor-text="Read more">
                              <img src="img/production/blog/post-thumb-5.jpg" srcset="img/production/blog/post-thumb-5@2x.jpg 2x" alt="">
                            </figure>
                          </a>
                    </div>
                    <!-- /.post-thumb -->
                    <div class="post-header mt-2">
                        <h5 class="post-title mb-0 h5 text-uppercase">
                            <a class="link-dark" href="blog-details.html">
                                Color theory in graphic design system Color theory
                            </a>
                        </h5>
                    </div>
                    <!-- /.post-header -->
                </article>
                <!-- /.blog-post -->
            </div>
            <!-- /.col-lg-4 col-md-6 mb-3 mb-lg-0 -->
            <div class="col-lg-4 col-md-6 mb-lg-0">
                <article class="post">
                    <div class="post-meta">
                        <ul class="categories-list mb-1">
                            <li><a href="#">Typography</a></li>
                            <li><a href="#">Color</a></li>
                        </ul>
                    </div>
                    <!-- /.post-meta -->
                    <div  class="post-thumb hover-zoomout">
                        <a href="blog-details.html">
                            <figure class="mb-2" data-hoverable="true" data-cursor-text="Read more">
                              <img src="img/production/blog/post-thumb-6.jpg" srcset="img/production/blog/post-thumb-6@2x.jpg 2x" alt="">
                            </figure>
                          </a>
                    </div>
                    <!-- /.post-thumb -->
                    <div class="post-header mt-2">
                        <h5 class="post-title mb-0 h5 text-uppercase">
                            <a class="link-dark" href="blog-details.html">
                                Color theory in graphic design system Color theory 
                            </a>
                        </h5>
                    </div>
                    <!-- /.post-header -->
                </article>
                <!-- /.blog-post -->
            </div>
            <!-- /.col-lg-4 col-md-6 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.col-md-9 -->
    <div class="col-lg-3">
        <div class="d-md-flex flex-column ms-lg-7 mt-lg-0 mt-4 h-100 align-items-start">
          <a href="blog.html" class="btn btn-more text-uppercase mt-auto pb-1"><span class="btn-label">Read More</span></a>
        </div>
      </div>
    <!-- /.col-lg-3 -->
</div>
<!-- /.row -->