<div class="row">
    <div class="col-lg-9 offset-lg-3">
        <div class="row">
            <div class="col-md-6 col-lg-5">
                <div class="feature has-border-left mb-3 mb-lg-8">
                    <div class="feature-inner py-4 px-2">
                        <div class="feature-icon mb-4 mb-2 d-flex align-items-center">
                            <span class="circle me-2"></span><span class="feature-icon-text text-black">01</span>
                        </div>
                        <h4 class="feature-title text-dark text-uppercase">Initial brief</h4>
                        <p class="feature-desc fs-16 mb-0">Lorem ipsum dolor sit amet, consectetur adipisclit. Nullam convallis
                            fermentumurna vitae.</p>
                    </div>
                </div><!-- /.feature -->
            </div>
            <!-- /.col-md-6 col-lg-5 -->
            <div class="col-md-6 col-lg-5">
                <div class="feature has-border-left mb-3 mb-lg-8">
                    <div class="feature-inner py-4 px-2">
                        <div class="feature-icon mb-4 d-flex align-items-center">
                            <span class="circle me-2"></span><span class="feature-icon-text text-black">02</span>
                        </div>
                        <h4 class="feature-title text-dark text-uppercase">Meet up</h4>
                        <p class="feature-desc fs-16 mb-0">Lorem ipsum dolor sit amet, consectetur adipisclit. Nullam convallis
                            fermentumurna vitae.</p>
                    </div>
                </div><!-- /.feature -->
            </div>
            <!-- /.col-md-6 col-lg-5 -->
            <div class="col-md-6 col-lg-5">
                <div class="feature has-border-left mb-3 mb-md-0">
                    <div class="feature-inner py-4 px-2">
                        <div class="feature-icon mb-4 d-flex align-items-center">
                            <span class="circle me-2"></span><span class="feature-icon-text text-black">03</span>
                        </div>
                        <h4 class="feature-title text-dark text-uppercase">Quote</h4>
                        <p class="feature-desc fs-16 mb-0">Lorem ipsum dolor sit amet, consectetur adipisclit. Nullam convallis
                            fermentumurna vitae.</p>
                    </div>
                </div><!-- /.feature -->
            </div>
            <!-- /.col-md-6 col-lg-5 -->
            <div class="col-md-6 col-lg-5">
                <div class="feature has-border-left mb-3 mb-md-0">
                    <div class="feature-inner py-4 px-2">
                        <div class="feature-icon mb-4 d-flex align-items-center">
                            <span class="circle me-2"></span><span class="feature-icon-text text-black">04</span>
                        </div>
                        <h4 class="feature-title text-dark text-uppercase">Custom design</h4>
                        <p class="feature-desc fs-16 mb-0">Lorem ipsum dolor sit amet, consectetur adipisclit. Nullam convallis
                            fermentumurna vitae.</p>
                    </div>
                </div><!-- /.feature -->
            </div>
            <!-- /.col-md-6 col-lg-5 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.col-md-9 -->
</div>
<!-- /.row -->