<div class="row">
    <div class="col-md-12 col-lg-9 offset-lg-3">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="feature has-border-left mb-3 mb-lg-8">
                    <div class="feature-inner py-4 px-2">
                        <div class="feature-icon">
                            <img src="img/production/icons/icon_1.svg" class="" alt="" height="64" width="64">
                        </div>
                        <h4 class="feature-title text-uppercase">Strategy & Research</h4>
                        <p class="feature-desc fs-16">Lorem ipsum dolor sit amet, consectetur adipisclit. Nullam convallis
                            fermentumurna vitae.</p>
    
                        <a class="btn btn-more-2" href="services.html"><span class="btn-label">Read more</span></a>
                    </div>
                </div><!-- /.feature -->
            </div><!-- /.col-md-4 -->
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="feature has-border-left mb-3 mb-lg-8">
                    <div class="feature-inner py-4 px-2">
                        <div class="feature-icon">
                            <img src="img/production/icons/icon_2.svg" class="" alt="" height="64" width="64">
                        </div>
                        <h4 class="feature-title text-uppercase">24X7 Support</h4>
                        <p class="feature-desc fs-16">Lorem ipsum dolor sit amet, consectetur adipisclit. Nullam convallis
                            fermentumurna vitae.</p>
    
                        <a class="btn btn-more-2" href="services.html"><span class="btn-label">Read more</span></a>
                    </div>
                </div><!-- /.feature -->
            </div><!-- /.col-md-4 -->
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="feature has-border-left mb-3 mb-lg-8">
                    <div class="feature-inner py-4 px-2">
                        <div class="feature-icon">
                            <img src="img/production/icons/icon_3.svg" class="" alt="" height="64" width="64">
                        </div>
                        <h4 class="feature-title text-uppercase">Web Development</h4>
                        <p class="feature-desc fs-16">Lorem ipsum dolor sit amet, consectetur adipisclit. Nullam convallis
                            fermentumurna vitae.</p>
    
                        <a class="btn btn-more-2" href="services.html"><span class="btn-label">Read more</span></a>
                    </div>
                </div><!-- /.feature -->
            </div><!-- /.col-md-4 -->
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-5 mb-lg-0">
                <div class="feature has-border-left">
                    <div class="feature-inner py-4 px-2">
                        <div class="feature-icon">
                            <img src="img/production/icons/icon_4.svg" class="" alt="" height="64" width="64">
                        </div>
                        <h4 class="feature-title text-uppercase">Web Solutions</h4>
                        <p class="feature-desc fs-16">Lorem ipsum dolor sit amet, consectetur adipisclit. Nullam convallis
                            fermentumurna vitae.</p>
    
                        <a class="btn btn-more-2" href="services.html"><span class="btn-label">Read more</span></a>
                    </div>
                </div><!-- /.feature -->
            </div><!-- /.col-md-4 -->
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-5 mb-lg-0">
                <div class="feature has-border-left">
                    <div class="feature-inner py-4 px-2">
                        <div class="feature-icon">
                            <img src="img/production/icons/icon_5.svg" class="" alt="" height="64" width="64">
                        </div>
                        <h4 class="feature-title text-uppercase">SEO & Marketing</h4>
                        <p class="feature-desc fs-16">Lorem ipsum dolor sit amet, consectetur adipisclit. Nullam convallis
                            fermentumurna vitae.</p>
    
                        <a class="btn btn-more-2" href="services.html"><span class="btn-label">Read more</span></a>
                    </div>
                </div><!-- /.feature -->
            </div><!-- /.col-md-4 -->
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-5 mb-lg-0">
                <div class="feature has-border-left">
                    <div class="feature-inner py-4 px-2">
                        <div class="feature-icon">
                            <img src="img/production/icons/icon_6.svg" class="" alt="" height="64" width="64">
                        </div>
                        <h4 class="feature-title text-uppercase">Growth Tracking</h4>
                        <p class="feature-desc fs-16">Lorem ipsum dolor sit amet, consectetur adipisclit. Nullam convallis
                            fermentumurna vitae.</p>
    
                        <a class="btn btn-more-2" href="services.html"><span class="btn-label">Read more</span></a>
                    </div>
                </div><!-- /.feature -->
            </div><!-- /.col-md-4 -->
        </div>
        <!-- /.row -->
    </div><!-- /.col-md-9 -->
</div>
<!-- /.row -->