<div class="row orica-custom-carousel">
    <div class="col-md-9 order-md-2">
        <div class="swiper swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="team-member block-md-centered has-border-left text-center">
                        <div class="team-member-inner py-4 px-2 hover-zoomout">
                            <div class="hover-zoomout-wrapper rounded-circle mb-4 mx-auto">
                                <img class="team-member-avatar"
                                src="img/production/team/team-member-1.jpg" srcset="img/production/team/team-member-1@2x.jpg 2x" alt="" />
                            </div>
                            <h4 class="team-member-name text-dark text-uppercase">Alexandr Rich</h4>
                            <div class="team-member-meta mb-3">Designer</div>
                            <div class="social">
                                <ul class="list-unstyled social-icons team-member-icons mb-0">
                                    <li>
                                        <a href="javascript:void(0)" >
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="feather feather-facebook">
                                                <path
                                                    d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z" />
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" >
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="feather feather-instagram">
                                                <rect x="2" y="2" width="20" height="20" rx="5" ry="5" />
                                                <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z" />
                                                <line x1="17.5" y1="6.5" x2="17.51" y2="6.5" />
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" >
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="feather feather-twitter">
                                                <path
                                                    d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z" />
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!--/.social -->
                        </div>
                        <!--/.team-member-inner -->
                    </div>
                    <!-- /.team-member -->
                </div>
                <div class="swiper-slide">
                    <div class="team-member block-md-centered has-border-left text-center">
                        <div class="team-member-inner py-4 px-2 hover-zoomout">
                            <div class="hover-zoomout-wrapper rounded-circle mb-4 mx-auto">
                                <img class="team-member-avatar"
                                src="img/production/team/team-member-2.jpg" srcset="img/production/team/team-member-2@2x.jpg 2x" alt="" />
                            </div>
                            <h4 class="team-member-name text-dark text-uppercase">Alexandr Rich</h4>
                            <div class="team-member-meta mb-3">Designer</div>
                            <div class="social">
                                <ul class="list-unstyled social-icons team-member-icons mb-0">
                                    <li>
                                        <a href="javascript:void(0)" >
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="feather feather-facebook">
                                                <path
                                                    d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z" />
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" >
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="feather feather-instagram">
                                                <rect x="2" y="2" width="20" height="20" rx="5" ry="5" />
                                                <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z" />
                                                <line x1="17.5" y1="6.5" x2="17.51" y2="6.5" />
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" >
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="feather feather-twitter">
                                                <path
                                                    d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z" />
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!--/.social -->
                        </div>
                        <!--/.team-member-inner -->
                    </div>
                    <!-- /.team-member -->
                </div>
                <div class="swiper-slide">
                    <div class="team-member block-md-centered has-border-left text-center">
                        <div class="team-member-inner py-4 px-2 hover-zoomout">
                            <div class="hover-zoomout-wrapper rounded-circle mb-4 mx-auto">
                                <img class="team-member-avatar"
                                src="img/production/team/team-member-3.jpg" srcset="img/production/team/team-member-3@2x.jpg 2x" alt="" />
                            </div>
                            <h4 class="team-member-name text-dark text-uppercase">Alexandr Rich</h4>
                            <div class="team-member-meta mb-3">Designer</div>
                            <div class="social">
                                <ul class="list-unstyled social-icons team-member-icons mb-0">
                                    <li>
                                        <a href="javascript:void(0)" >
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="feather feather-facebook">
                                                <path
                                                    d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z" />
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" >
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="feather feather-instagram">
                                                <rect x="2" y="2" width="20" height="20" rx="5" ry="5" />
                                                <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z" />
                                                <line x1="17.5" y1="6.5" x2="17.51" y2="6.5" />
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" >
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="feather feather-twitter">
                                                <path
                                                    d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z" />
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!--/.social -->
                        </div>
                        <!--/.team-member-inner -->
                    </div>
                    <!-- /.team-member -->
                </div>
                <div class="swiper-slide">
                    <div class="team-member block-md-centered has-border-left text-center">
                        <div class="team-member-inner py-4 px-2 hover-zoomout">
                            <div class="hover-zoomout-wrapper rounded-circle mb-4 mx-auto">
                                <img class="team-member-avatar"
                                src="img/production/team/team-member-4.jpg" srcset="img/production/team/team-member-4@2x.jpg 2x" alt="" />
                            </div>
                            <h4 class="team-member-name text-dark text-uppercase">Alexandr Rich</h4>
                            <div class="team-member-meta mb-3">Designer</div>
                            <div class="social">
                                <ul class="list-unstyled social-icons team-member-icons mb-0">
                                    <li>
                                        <a href="javascript:void(0)" >
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="feather feather-facebook">
                                                <path
                                                    d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z" />
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" >
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="feather feather-instagram">
                                                <rect x="2" y="2" width="20" height="20" rx="5" ry="5" />
                                                <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z" />
                                                <line x1="17.5" y1="6.5" x2="17.51" y2="6.5" />
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" >
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="feather feather-twitter">
                                                <path
                                                    d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z" />
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!--/.social -->
                        </div>
                        <!--/.team-member-inner -->
                    </div>
                    <!-- /.team-member -->
                </div>
            </div>
        </div>
    </div>
    <!-- /.col-md-9-->
    <div class="col-md-3 d-none d-md-block d-lg-block d-xl-block d-xxl-block">
        <div class="carousel-nav-container d-md-flex flex-column align-items-lg-start ms-lg-7 h-100">
            <div class="carousel-counter d-flex align-items-center mb-md-0 mb-4">
                <span class="counter-current"></span>
                <span class="line-divider"></span>
                <span class="counter-total"></span>
            </div>
            <div class="carousel-nav d-flex align-items-center mt-auto">
                <a class="btn carousel-nav-prev">
                    <svg width="49" height="16" viewBox="0 0 49 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M0.292892 8.70711C-0.0976295 8.31658 -0.0976295 7.68342 0.292892 7.29289L6.65685 0.928932C7.04738 0.538408 7.68054 0.538408 8.07107 0.928932C8.46159 1.31946 8.46159 1.95262 8.07107 2.34315L2.41422 8L8.07107 13.6569C8.46159 14.0474 8.46159 14.6805 8.07107 15.0711C7.68054 15.4616 7.04738 15.4616 6.65685 15.0711L0.292892 8.70711ZM49 9H1V7H49V9Z"
                             />
                        <path
                            d="M0.292892 8.70711C-0.0976295 8.31658 -0.0976295 7.68342 0.292892 7.29289L6.65685 0.928932C7.04738 0.538408 7.68054 0.538408 8.07107 0.928932C8.46159 1.31946 8.46159 1.95262 8.07107 2.34315L2.41422 8L8.07107 13.6569C8.46159 14.0474 8.46159 14.6805 8.07107 15.0711C7.68054 15.4616 7.04738 15.4616 6.65685 15.0711L0.292892 8.70711ZM49 9H1V7H49V9Z"
                            />
                    </svg>
                </a>
                <span class="circle circle-primary"></span>
                <a class="btn carousel-nav-next">
                    <svg width="49" height="16" viewBox="0 0 49 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M48.7071 8.70711C49.0976 8.31658 49.0976 7.68342 48.7071 7.29289L42.3431 0.928932C41.9526 0.538408 41.3195 0.538408 40.9289 0.928932C40.5384 1.31946 40.5384 1.95262 40.9289 2.34315L46.5858 8L40.9289 13.6569C40.5384 14.0474 40.5384 14.6805 40.9289 15.0711C41.3195 15.4616 41.9526 15.4616 42.3431 15.0711L48.7071 8.70711ZM0 9H48V7H0V9Z"
                             />
                        <path
                            d="M48.7071 8.70711C49.0976 8.31658 49.0976 7.68342 48.7071 7.29289L42.3431 0.928932C41.9526 0.538408 41.3195 0.538408 40.9289 0.928932C40.5384 1.31946 40.5384 1.95262 40.9289 2.34315L46.5858 8L40.9289 13.6569C40.5384 14.0474 40.5384 14.6805 40.9289 15.0711C41.3195 15.4616 41.9526 15.4616 42.3431 15.0711L48.7071 8.70711ZM0 9H48V7H0V9Z"
                             />
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <!-- /.col-md-3 -->
</div>
<!-- /.row-->