<div class="row">

    <div class="col-lg-9 order-lg-2">
        <div class="row">
            <div class="col-lg-7 col-md-8">
                <div class="testimonial d-flex mb-3 mb-lg-8 ">
                   <div class="testimonial-thumb me-3 me-lg-4">
                        <img src="img/production/companies/company-logo.jpg" srcset="img/production/companies/company-logo@2x.jpg" alt="Testimonial avatar" class="testimonial-img">
                   </div>
                   <!-- /.testimonial-thumb -->
                    <div class="testimonial-content has-border-left">
                        <h3 class="testimonial-title mb-2 text-uppercase">I use this service all the time </h3>
                        <p class="testimonial-desc">The final frontier. These are the voyages of the Starship Enterprise? As long as we live its you 
                            and me baby. There ain't nothin' Beats all you've ever saw been in trouble with the law since 
                            the day.
                        </p>
                        <div class="testimonial-meta">
                            <span class="author">Jonathan Smith</span>
                        </div>
                        <!-- /.testimonial-meta -->
                    </div>
                    <!-- /.testimonial-content -->
                </div>
                <!-- /.testimonial -->
            </div>
            <!-- /.col-md-7 -->
            <div class="col-lg-7 col-md-8 offset-lg-4 offset-md-3">
                <div class="testimonial d-flex mb-3 mb-lg-8 ">
                    <div class="testimonial-thumb me-3 me-lg-4">
                         <img src="img/production/companies/company-logo.jpg" srcset="img/production/companies/company-logo@2x.jpg" alt="Testimonial avatar" class="testimonial-img">
                    </div>
                    <!-- /.testimonial-thumb -->
                     <div class="testimonial-content has-border-left">
                         <h3 class="testimonial-title text-dark text-uppercase">I use this service all the time </h3>
                         <p class="testimonial-desc">The final frontier. These are the voyages of the Starship Enterprise? As long as we live its you 
                             and me baby. There ain't nothin' Beats all you've ever saw.
                         </p>
                         <div class="testimonial-meta">
                             <span class="author">Joahn Doe</span>
                         </div>
                         <!-- /.testimonial-meta -->
                     </div>
                     <!-- /.testimonial-content -->
                 </div>
                 <!-- /.testimonial -->
            </div>
            <!-- /.col-md-7 -->

            <div class="col-lg-7 col-md-8 offset-lg-1 offset-md-1">
                <div class="testimonial d-flex">
                    <div class="testimonial-thumb me-3 me-lg-4">
                         <img src="img/production/companies/company-logo.jpg" srcset="img/production/companies/company-logo@2x.jpg" alt="Testimonial avatar" class="testimonial-img">
                    </div>
                    <!-- /.testimonial-thumb -->
                     <div class="testimonial-content has-border-left">
                         <h3 class="testimonial-title mb-2 text-uppercase">I use this service all the time </h3>
                         <p class="testimonial-desc">The final frontier. These are the voyages of the Starship Enterprise? As long as we live its you 
                             and me baby. There ain't nothin' Beats all you've ever saw been in trouble with the law since 
                             the day.
                         </p>
                         <div class="testimonial-meta">
                             <span class="author">Kim Doe</span>
                         </div>
                         <!-- /.testimonial-meta -->
                     </div>
                     <!-- /.testimonial-content -->
                 </div>
                 <!-- /.testimonial -->
            </div>
            <!-- /.col-md-7 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.col-md-9 -->
    <div class="col-lg-3">
        <div class="d-md-flex flex-column ms-lg-7 mt-lg-0 mt-4 h-100 align-items-start">
            <a class="btn btn-more text-uppercase mt-auto"><span class="btn-label">See More</span></a>
        </div>
    </div>
    <!-- /.col-md-3 -->
</div>
<!-- /.row -->