<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="js-player" data-plyr-provider="@@provider" data-plyr-embed-id="@@videoId"></div>
    </div><!-- /.col-md-3 -->
    <div class="col-md-3">
        <p class="fs-18 text-secondary">Everything is easy with us. You can start by contacting us, then fill out the form and relax dolor sit</p>
        <p class="fs-14 mb-6">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos rem dolor ducimus nostrum vero quis, enim cupiditate eveniet alias unde</p>
        <a href="javascript:void(0)" class="read-more">Read More</a>
    </div><!-- /.col-md-3 -->
  </div>
  <!-- /.row -->