<div class="row">
    <div class="col-lg-4">
        <div class="d-flex align-items-start ms-lg-7 h-100">
            <!--/#pills-tab-->
            <ul class="nav tabs-nav list-nav hover-circle flex-column mb-lg-0 mb-4">
                <li class="nav-item" role="presentation">
                    <a
                        class="active text-uppercase"
                        id="pills-web-design-tab"
                        data-bs-toggle="pill"
                        href="#pills-web-design"
                        role="tab"
                        aria-controls="pills-web-design"
                        aria-selected="true"
                    >
                        Website Design
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a
                        class="text-uppercase"
                        id="pills-branding-tab"
                        data-bs-toggle="pill"
                        href="#pills-branding"
                        role="tab"
                        aria-controls="pills-branding"
                        aria-selected="false"
                    >
                        Branding
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a
                        class="text-uppercase"
                        id="pills-web-development-tab"
                        data-bs-toggle="pill"
                        href="#pills-web-development"
                        role="tab"
                        aria-controls="pills-web-development"
                        aria-selected="false"
                    >
                        Website development
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a
                        class="text-uppercase"
                        id="pills-pack-design-tab"
                        data-bs-toggle="pill"
                        href="#pills-pack-design"
                        role="tab"
                        aria-controls="pills-pack-design"
                        aria-selected="false"
                    >
                        Packaging Design
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a
                        class="text-uppercase"
                        id="pills-marketing-tab"
                        data-bs-toggle="pill"
                        href="#pills-marketing"
                        role="tab"
                        aria-controls="pills-marketing"
                        aria-selected="false"
                    >
                        Marketing &amp; Strategy
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a
                        class="text-uppercase"
                        id="pills-other-tab"
                        data-bs-toggle="pill"
                        href="#pills-other"
                        role="tab"
                        aria-controls="pills-other"
                        aria-selected="false"
                    >
                        Other
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-8">
        <div class="row">
            <div class="tab-content" id="wedoservices-pills-tabContent">
                <div
                    class="tab-pane fade show pt-4 has-border-top-light active"
                    id="pills-web-design"
                    role="tabpanel"
                    aria-labelledby="pills-web-design-tab"
                >
                    <div class="row">
                        <div class="col-md-6 col-lg-5">
                            <div class="feature mb-3 mb-lg-8">
                                <div class="feature-inner">
                                    <h4 class="feature-title text-uppercase">Website design</h4>
                                    <p class="feature-desc fs-16 mb-0">
                                        Once your order has been processed, your meals will be shipped
                                        via GLS or FedEx Air and a tracking number will automatically be
                                        emailed to you.
                                    </p>
                                </div>
                            </div>
                            <!-- /.feature -->
                        </div>
                        <!-- /.col-md-6 col-lg-5 -->
                        <div class="col-md-6 col-lg-5 offset-lg-1">
                            <div class="feature mb-3 mb-lg-8">
                                <div class="feature-inner">
                                    <h4 class="feature-title text-uppercase">E-commerce website</h4>
                                    <p class="feature-desc fs-16 mb-0">
                                        Once your order has been processed, your meals will be shipped
                                        via GLS.
                                    </p>
                                </div>
                            </div>
                            <!-- /.feature -->
                        </div>
                        <!-- /.col-md-6 col-lg-5 -->
                        <div class="col-md-6 col-lg-5">
                            <div class="feature mb-3 mb-lg-8">
                                <div class="feature-inner">
                                    <h4 class="feature-title text-uppercase">Landing pages</h4>
                                    <p class="feature-desc fs-16 mb-0">
                                        Once your order has been processed, your meals will be shipped
                                        via GLS or FedEx Air and a tracking number will automatically be
                                        emailed to you.
                                    </p>
                                </div>
                            </div>
                            <!-- /.feature -->
                        </div>
                        <!-- /.col-md-6 col-lg-5 -->
                        <div class="col-md-6 col-lg-5 offset-lg-1">
                            <div class="feature mb-3 mb-lg-8">
                                <div class="feature-inner">
                                    <h4 class="feature-title text-uppercase">Mobile website</h4>
                                    <p class="feature-desc fs-16 mb-0">
                                        Once your order has been processed, your meals will be shipped
                                        via GLS.
                                    </p>
                                </div>
                            </div>
                            <!-- /.feature -->
                        </div>
                        <!-- /.col-md-6 col-lg-5 -->
                        <div class="col-md-6 col-lg-5">
                            <div class="feature mb-3 mb-md-0">
                                <div class="feature-inner">
                                    <h4 class="feature-title text-uppercase">Blogs</h4>
                                    <p class="feature-desc fs-16 mb-0">
                                        Once your order has been processed, your meals will be shipped
                                        via GLS or FedEx Air and a tracking number will automatically be
                                        emailed to you.
                                    </p>
                                </div>
                            </div>
                            <!-- /.feature -->
                        </div>
                        <!-- /.col-md-6 col-lg-5 -->
                        <div class="col-md-6 col-lg-5 offset-lg-1">
                            <div class="feature mb-3 mb-md-0">
                                <div class="feature-inner">
                                    <h4 class="feature-title text-uppercase">On-line platforms</h4>
                                    <p class="feature-desc fs-16 mb-0">
                                        Once your order has been processed, your meals will be shipped
                                        via GLS.
                                    </p>
                                </div>
                            </div>
                            <!-- /.feature -->
                        </div>
                        <!-- /.col-md-6 col-lg-5 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.tab-pane #pills-web-design -->
                <div
                    class="tab-pane fade show pt-4 has-border-top-light"
                    id="pills-branding"
                    role="tabpanel"
                    aria-labelledby="pills-branding-tab"
                >
                    <div class="row">
                        <div class="col-md-6 col-lg-5">
                            <div class="feature mb-3 mb-lg-8">
                                <div class="feature-inner">
                                    <h4 class="feature-title text-uppercase">Branding identity</h4>
                                    <p class="feature-desc fs-16 mb-0">
                                        Once your order has been processed, your meals will be shipped
                                        via GLS or FedEx Air and a tracking number will automatically be
                                        emailed to you.
                                    </p>
                                </div>
                            </div>
                            <!-- /.feature -->
                        </div>
                        <!-- /.col-md-6 col-lg-5 -->
                        <div class="col-md-6 col-lg-5 offset-lg-1">
                            <div class="feature mb-3 mb-lg-8">
                                <div class="feature-inner">
                                    <h4 class="feature-title text-uppercase">Logo Design</h4>
                                    <p class="feature-desc fs-16 mb-0">
                                        Once your order has been processed, your meals will be shipped
                                        via GLS.
                                    </p>
                                </div>
                            </div>
                            <!-- /.feature -->
                        </div>
                        <!-- /.col-md-6 col-lg-5 -->
                        <div class="col-md-6 col-lg-5">
                            <div class="feature mb-3 mb-lg-8">
                                <div class="feature-inner">
                                    <h4 class="feature-title text-uppercase">Naming</h4>
                                    <p class="feature-desc fs-16 mb-0">
                                        Once your order has been processed, your meals will be shipped
                                        via GLS or FedEx Air and a tracking number will automatically be
                                        emailed to you.
                                    </p>
                                </div>
                            </div>
                            <!-- /.feature -->
                        </div>
                        <!-- /.col-md-6 col-lg-5 -->
                        <div class="col-md-6 col-lg-5 offset-lg-1">
                            <div class="feature mb-3 mb-lg-8">
                                <div class="feature-inner">
                                    <h4 class="feature-title text-uppercase">Brand manual</h4>
                                    <p class="feature-desc fs-16 mb-0">
                                        Once your order has been processed, your meals will be shipped
                                        via GLS.
                                    </p>
                                </div>
                            </div>
                            <!-- /.feature -->
                        </div>
                        <!-- /.col-md-6 col-lg-5 -->
                        <div class="col-md-6 col-lg-5">
                            <div class="feature mb-3 mb-lg-8">
                                <div class="feature-inner">
                                    <h4 class="feature-title text-uppercase">Illustration</h4>
                                    <p class="feature-desc fs-16 mb-0">
                                        Once your order has been processed, your meals will be shipped
                                        via GLS or FedEx Air and a tracking number will automatically be
                                        emailed to you.
                                    </p>
                                </div>
                            </div>
                            <!-- /.feature -->
                        </div>
                        <!-- /.col-md-6 col-lg-5 -->
                        <div class="col-md-6 col-lg-5 offset-lg-1">
                            <div class="feature mb-3 mb-lg-8">
                                <div class="feature-inner">
                                    <h4 class="feature-title text-uppercase">Brand strategy</h4>
                                    <p class="feature-desc fs-16 mb-0">
                                        Once your order has been processed, your meals will be shipped
                                        via GLS.
                                    </p>
                                </div>
                            </div>
                            <!-- /.feature -->
                        </div>
                        <!-- /.col-md-6 col-lg-5 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.tab-pane #pills-branding -->
                <div
                    class="tab-pane fade show pt-4 has-border-top-light"
                    id="pills-web-development"
                    role="tabpanel"
                    aria-labelledby="pills-web-development-tab"
                >
                    <div class="row">
                        <div class="col-md-6 col-lg-5">
                            <div class="feature mb-3 mb-lg-8">
                                <div class="feature-inner">
                                    <h4 class="feature-title text-uppercase">Ecommerce</h4>
                                    <p class="feature-desc fs-16 mb-0">
                                        Once your order has been processed, your meals will be shipped
                                        via GLS or FedEx Air and a tracking number will automatically be
                                        emailed to you.
                                    </p>
                                </div>
                            </div>
                            <!-- /.feature -->
                        </div>
                        <!-- /.col-md-6 col-lg-5 -->
                        <div class="col-md-6 col-lg-5 offset-lg-1">
                            <div class="feature mb-3 mb-lg-8">
                                <div class="feature-inner">
                                    <h4 class="feature-title text-uppercase">SPA</h4>
                                    <p class="feature-desc fs-16 mb-0">
                                        Once your order has been processed, your meals will be shipped
                                        via GLS or FedEx Air and a tracking number will automatically be
                                        emailed to you.
                                    </p>
                                </div>
                            </div>
                            <!-- /.feature -->
                        </div>
                        <!-- /.col-md-6 col-lg-5 -->
                        <div class="col-md-6 col-lg-5">
                            <div class="feature mb-3 mb-lg-8">
                                <div class="feature-inner">
                                    <h4 class="feature-title text-uppercase">Shopify themes</h4>
                                    <p class="feature-desc fs-16 mb-0">
                                        Once your order has been processed, your meals will be shipped
                                        via GLS or FedEx Air and a tracking number will automatically be
                                        emailed to you.
                                    </p>
                                </div>
                            </div>
                            <!-- /.feature -->
                        </div>
                        <!-- /.col-md-6 col-lg-5 -->
                        <div class="col-md-6 col-lg-5 offset-lg-1">
                            <div class="feature mb-3 mb-lg-8">
                                <div class="feature-inner">
                                    <h4 class="feature-title text-uppercase">WordPress Themes</h4>
                                    <p class="feature-desc fs-16 mb-0">
                                        Once your order has been processed, your meals will be shipped
                                        via GLS or FedEx Air and a tracking number will automatically be
                                        emailed to you.
                                    </p>
                                </div>
                            </div>
                            <!-- /.feature -->
                        </div>
                        <!-- /.col-md-6 col-lg-5 -->
                        <div class="col-md-6 col-lg-5">
                            <div class="feature mb-3 mb-lg-8">
                                <div class="feature-inner">
                                    <h4 class="feature-title text-uppercase">Custom solutions</h4>
                                    <p class="feature-desc fs-16 mb-0">
                                        Once your order has been processed, your meals will be shipped
                                        via GLS or FedEx Air and a tracking number will automatically be
                                        emailed to you.
                                    </p>
                                </div>
                            </div>
                            <!-- /.feature -->
                        </div>
                        <!-- /.col-md-6 col-lg-5 -->
                        <div class="col-md-6 col-lg-5 offset-lg-1">
                            <div class="feature mb-3 mb-lg-8">
                                <div class="feature-inner">
                                    <h4 class="feature-title text-uppercase">Blogs</h4>
                                    <p class="feature-desc fs-16 mb-0">
                                        Once your order has been processed, your meals will be shipped
                                        via GLS or FedEx Air and a tracking number will automatically be
                                        emailed to you.
                                    </p>
                                </div>
                            </div>
                            <!-- /.feature -->
                        </div>
                        <!-- /.col-md-6 col-lg-5 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.tab-pane #pills-web-development -->
                <div
                    class="tab-pane fade show pt-4 has-border-top-light"
                    id="pills-pack-design"
                    role="tabpanel"
                    aria-labelledby="pills-pack-design-tab"
                >
                    <div class="row">
                        <div class="col-md-6 col-lg-5">
                            <div class="feature mb-3 mb-lg-8">
                                <div class="feature-inner">
                                    <h4 class="feature-title text-uppercase">Packaging Design</h4>
                                    <p class="feature-desc fs-16 mb-0">
                                        Once your order has been processed, your meals will be shipped
                                        via GLS or FedEx Air and a tracking number will automatically be
                                        emailed to you.
                                    </p>
                                </div>
                            </div>
                            <!-- /.feature -->
                        </div>
                        <!-- /.col-md-6 col-lg-5 -->
                        <div class="col-md-6 col-lg-5 offset-lg-1">
                            <div class="feature mb-3 mb-lg-8">
                                <div class="feature-inner">
                                    <h4 class="feature-title text-uppercase">Graphic Design</h4>
                                    <p class="feature-desc fs-16 mb-0">
                                        Once your order has been processed, your meals will be shipped
                                        via GLS.
                                    </p>
                                </div>
                            </div>
                            <!-- /.feature -->
                        </div>
                        <!-- /.col-md-6 col-lg-5 -->
                        <div class="col-md-6 col-lg-5">
                            <div class="feature mb-3 mb-lg-8">
                                <div class="feature-inner">
                                    <h4 class="feature-title text-uppercase">Product label</h4>
                                    <p class="feature-desc fs-16 mb-0">
                                        Once your order has been processed, your meals will be shipped
                                        via GLS or FedEx Air and a tracking number will automatically be
                                        emailed to you.
                                    </p>
                                </div>
                            </div>
                            <!-- /.feature -->
                        </div>
                        <!-- /.col-md-6 col-lg-5 -->
                        <div class="col-md-6 col-lg-5 offset-lg-1">
                            <div class="feature mb-3 mb-lg-8">
                                <div class="feature-inner">
                                    <h4 class="feature-title text-uppercase">Illustration</h4>
                                    <p class="feature-desc fs-16 mb-0">
                                        Once your order has been processed, your meals will be shipped
                                        via GLS.
                                    </p>
                                </div>
                            </div>
                            <!-- /.feature -->
                        </div>
                        <!-- /.col-md-6 col-lg-5 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.tab-pane #pills-pack-design -->
                <div
                    class="tab-pane fade show pt-4 has-border-top-light"
                    id="pills-marketing"
                    role="tabpanel"
                    aria-labelledby="pills-marketing-tab"
                >
                    <div class="row">
                        <div class="col-md-6 col-lg-5">
                            <div class="feature mb-3 mb-lg-8">
                                <div class="feature-inner">
                                    <h4 class="feature-title text-uppercase">Market research</h4>
                                    <p class="feature-desc fs-16 mb-0">
                                        Once your order has been processed, your meals will be shipped
                                        via GLS or FedEx Air and a tracking number will automatically be
                                        emailed to you.
                                    </p>
                                </div>
                            </div>
                            <!-- /.feature -->
                        </div>
                        <!-- /.col-md-6 col-lg-5 -->
                        <div class="col-md-6 col-lg-5 offset-lg-1">
                            <div class="feature mb-3 mb-lg-8">
                                <div class="feature-inner">
                                    <h4 class="feature-title text-uppercase">Niche strategy</h4>
                                    <p class="feature-desc fs-16 mb-0">
                                        Once your order has been processed, your meals will be shipped
                                        via GLS.
                                    </p>
                                </div>
                            </div>
                            <!-- /.feature -->
                        </div>
                        <!-- /.col-md-6 col-lg-5 -->
                        <div class="col-md-6 col-lg-5">
                            <div class="feature mb-3 mb-lg-8">
                                <div class="feature-inner">
                                    <h4 class="feature-title text-uppercase">SEO optimization</h4>
                                    <p class="feature-desc fs-16 mb-0">
                                        Once your order has been processed, your meals will be shipped
                                        via GLS or FedEx Air and a tracking number will automatically be
                                        emailed to you.
                                    </p>
                                </div>
                            </div>
                            <!-- /.feature -->
                        </div>
                        <!-- /.col-md-6 col-lg-5 -->
                        <div class="col-md-6 col-lg-5 offset-lg-1">
                            <div class="feature mb-3 mb-lg-8">
                                <div class="feature-inner">
                                    <h4 class="feature-title text-uppercase">Advertising</h4>
                                    <p class="feature-desc fs-16 mb-0">
                                        Once your order has been processed, your meals will be shipped
                                        via GLS.
                                    </p>
                                </div>
                            </div>
                            <!-- /.feature -->
                        </div>
                        <!-- /.col-md-6 col-lg-5 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.tab-pane #pills-marketing -->
                <div
                    class="tab-pane fade show pt-4 has-border-top-light"
                    id="pills-other"
                    role="tabpanel"
                    aria-labelledby="pills-other-tab"
                >
                    <div class="row">
                        <div class="col-md-6 col-lg-5">
                            <div class="feature mb-3 mb-lg-8">
                                <div class="feature-inner">
                                    <h4 class="feature-title text-uppercase">Market research</h4>
                                    <p class="feature-desc fs-16 mb-0">
                                        Once your order has been processed, your meals will be shipped
                                        via GLS or FedEx Air and a tracking number will automatically be
                                        emailed to you.
                                    </p>
                                </div>
                            </div>
                            <!-- /.feature -->
                        </div>
                        <!-- /.col-md-6 col-lg-5 -->
                        <div class="col-md-6 col-lg-5 offset-lg-1">
                            <div class="feature mb-3 mb-lg-8">
                                <div class="feature-inner">
                                    <h4 class="feature-title text-uppercase">Niche strategy</h4>
                                    <p class="feature-desc fs-16 mb-0">
                                        Once your order has been processed, your meals will be shipped
                                        via GLS.
                                    </p>
                                </div>
                            </div>
                            <!-- /.feature -->
                        </div>
                        <!-- /.col-md-6 col-lg-5 -->
                        <div class="col-md-6 col-lg-5">
                            <div class="feature mb-3 mb-md-0">
                                <div class="feature-inner">
                                    <h4 class="feature-title text-uppercase">SEO optimization</h4>
                                    <p class="feature-desc fs-16 mb-0">
                                        Once your order has been processed, your meals will be shipped
                                        via GLS or FedEx Air and a tracking number will automatically be
                                        emailed to you.
                                    </p>
                                </div>
                            </div>
                            <!-- /.feature -->
                        </div>
                        <!-- /.col-md-6 col-lg-5 -->
                        <div class="col-md-6 col-lg-5 offset-lg-1">
                            <div class="feature mb-3 mb-md-0">
                                <div class="feature-inner">
                                    <h4 class="feature-title text-uppercase">Advertising</h4>
                                    <p class="feature-desc fs-16 mb-0">
                                        Once your order has been processed, your meals will be shipped
                                        via GLS.
                                    </p>
                                </div>
                            </div>
                            <!-- /.feature -->
                        </div>
                        <!-- /.col-md-6 col-lg-5 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.tab-pane #pills-other -->
            </div>
            <!-- /.tab-content -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.col-lg-8 -->
</div>
<!-- /.row -->