<div class="col mb-5" id="avatars">
    <div class="card shadow">
        <div class="p-3 border-bottom">
            <h3 class="card-title mb-0">Avatars</h3>
        </div>
        <div class="card-body p-3">
            <!-- AVATARS -->
            <div class="mb-4">
                <!-- AVATAR ITEM -->
                <span class="avatar bg-secondary text-white fs-24 wrem-16 hrem-16 rounded-circle">
                    <span>ORICA</span>
                </span>
                <!-- END AVATAR ITEM -->
                 <!-- AVATAR ITEM -->
                <span class="avatar bg-secondary text-white wrem-10 hrem-10 ms-2 rounded-circle">
                    <span>ORICA</span>
                </span>
                <!-- END AVATAR ITEM -->
                 <!-- AVATAR ITEM -->
                <span class="avatar bg-secondary text-white fs-8 wrem-6 hrem-6 ms-2 rounded-circle">
                    <span>ORICA</span>
                </span>
                <!-- END AVATAR ITEM -->
                 <!-- AVATAR ITEM -->
                <span class="avatar bg-secondary text-white fs-24 wrem-16 hrem-16 ms-2">
                    <span>ORICA</span>
                </span>
                <!-- END AVATAR ITEM -->
                 <!-- AVATAR ITEM -->
                <span class="avatar bg-secondary text-white wrem-10 hrem-10 ms-2">
                    <span>ORICA</span>
                </span>
                <!-- END AVATAR ITEM -->
                 <!-- AVATAR ITEM -->
                <span class="avatar bg-secondary text-white fs-8 wrem-6 hrem-6 ms-2">
                    <span>ORICA</span>
                </span>
                <!-- END AVATAR ITEM -->
            </div>
            <!-- END AVATARS -->
            <!-- AVATARS -->
            <div class="mb-4">
                <!-- AVATAR ITEM -->
                <span
                    class="avatar bg-white border border-2 border-dark text-dark fs-24 wrem-16 hrem-16 rounded-circle"
                >
                    <span>ORICA</span>
                </span>
                <!-- END AVATAR ITEM -->
                <!-- AVATAR ITEM -->
                <span class="avatar bg-white border border-2 border-dark text-dark wrem-10 hrem-10 ms-2 rounded-circle">
                    <span>ORICA</span>
                </span>
                <!-- END AVATAR ITEM -->
                <!-- AVATAR ITEM -->
                <span
                    class="avatar bg-white border border-2 border-dark text-dark fs-8 wrem-6 hrem-6 ms-2 rounded-circle"
                >
                    <span>ORICA</span>
                </span>
                <!-- END AVATAR ITEM -->
                <!-- AVATAR ITEM -->
                <span class="avatar bg-white border border-2 border-dark text-dark fs-24 wrem-16 hrem-16 ms-2">
                    <span>ORICA</span>
                </span>
                <!-- END AVATAR ITEM -->
                <!-- AVATAR ITEM -->
                <span class="avatar bg-white border border-2 border-dark text-dark wrem-10 hrem-10 ms-2">
                    <span>ORICA</span>
                </span>
                <!-- END AVATAR ITEM -->
                <!-- AVATAR ITEM -->
                <span class="avatar bg-white border border-2 border-dark text-dark fs-8 wrem-6 hrem-6 ms-2">
                    <span>ORICA</span>
                </span>
                <!-- END AVATAR ITEM -->
            </div>
            <!-- END AVATARS -->
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
<!-- /.col -->
