<div class="col mb-5" id="blockquote">
    <div class="card shadow">
        <div class="p-3 border-bottom">
            <h3 class="card-title mb-0">Blockquote</h3>
        </div>
        <div class="card-body p-3">
            <!-- BLOCKQUOTE -->
            <blockquote class="blockquote mx-7 my-4">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque elementum elementum gravida. Ut in
                    arcu ac libero commodo imperdiet Lorem ipsum dolor sit amet, consectetur adipisclit. Nullam
                    convallis fermentumurna vitae.
                </p>
                <footer class="blockquote-footer">
                    Someone famous in <cite title="Source Title">Source Title</cite>
                </footer>
            </blockquote>
            <!-- END BLOCKQUOTE -->
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
<!-- /.col -->
