<div class="col mb-5" id="breadcrumbs">
    <div class="card shadow">
        <div class="p-3 border-bottom">
            <h3 class="card-title mb-0">Breadcrumbs</h3>
        </div>
        <div class="card-body p-3">
            <!-- BREADCRUMBS -->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Library</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Data</li>
                </ol>
            </nav>
            <!-- END BREADCRUMBS -->
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
<!-- /.col -->
