<div class="col mb-5" id="carousel">
    <div class="card shadow">
        <div class="p-3 border-bottom">
            <h3 class="card-title mb-0">Carousel</h3>
        </div>
        <div class="card-body p-3">
            <!-- CAROUSEL -->
            <div class="row orica-custom-carousel orica-projects-carousel">
                <div class="col-md-9 order-md-2">
                    <div class="swiper swiper-container">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide">
                                <div class="portfolio-card hover-2">
                                    <a href="#" class="spotlight" data-src="img/production/portfolio/portfolio-1.jpg">
                                        <figure data-hoverable="true" data-cursor-text="Learn more">
                                            <img src="img/production/portfolio/portfolio-5.jpg" srcset="img/production/portfolio/portfolio-5@2x.jpg 2x" alt="">
                                        </figure>
                                    </a>
                                </div>
                                <!-- /.portfolio-card -->
                            </div>
                            <!-- /.swiper-slide -->
                            <div class="swiper-slide">
                                <div class="portfolio-card hover-2">
                                    <a href="#" class="spotlight" data-src="img/production/portfolio/portfolio-2.jpg">
                                        <figure data-hoverable="true" data-cursor-text="Learn more">
                                            <img src="img/production/portfolio/portfolio-5.jpg" srcset="img/production/portfolio/portfolio-5@2x.jpg 2x" alt="">
                                        </figure>
                                    </a>
                                </div>
                                <!-- /.portfolio-card -->
                            </div>
                            <!-- /.swiper-slide -->
                            <div class="swiper-slide">
                                <div class="portfolio-card hover-2">
                                    <a href="#" class="spotlight" data-src="img/production/portfolio/portfolio-3.jpg">
                                        <figure data-hoverable="true" data-cursor-text="Learn more">
                                            <img src="img/production/portfolio/portfolio-5.jpg" srcset="img/production/portfolio/portfolio-5@2x.jpg 2x" alt="">
                                        </figure>
                                    </a>
                                </div>
                                <!-- /.portfolio-card -->
                            </div>
                            <!-- /.swiper-slide -->
                            <div class="swiper-slide">
                                <div class="portfolio-card hover-2">
                                    <a href="#" class="spotlight" data-src="img/production/portfolio/portfolio-2.jpg">
                                        <figure data-hoverable="true" data-cursor-text="Learn more">
                                            <img src="img/production/portfolio/portfolio-5.jpg" srcset="img/production/portfolio/portfolio-5@2x.jpg 2x" alt="">
                                        </figure>
                                    </a>
                                </div>
                                <!-- /.portfolio-card -->
                            </div>
                            <!-- /.swiper-slide -->
                        </div>
                        <!-- /.swiper-wrapper -->
                    </div>
                    <!-- /.swiper -->
                </div>
                <!-- /.col-md-9-->
                <div class="col-md-3 d-none d-md-block d-lg-block d-xl-block d-xxl-block">
                    <div
                        class="carousel-nav-container d-md-flex flex-column align-items-center align-items-lg-start ms-lg-7 h-100"
                    >
                        <div class="carousel-counter d-flex align-items-center mb-md-0 mb-4">
                            <span class="counter-current"></span>
                            <span class="line-divider"></span>
                            <span class="counter-total"></span>
                        </div>
                        <div class="carousel-nav d-flex align-items-center mt-auto">
                            <a class="btn carousel-nav-prev">
                                <svg
                                    width="49"
                                    height="16"
                                    viewBox="0 0 49 16"
                                    fill="currentColor"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M0.292892 8.70711C-0.0976295 8.31658 -0.0976295 7.68342 0.292892 7.29289L6.65685 0.928932C7.04738 0.538408 7.68054 0.538408 8.07107 0.928932C8.46159 1.31946 8.46159 1.95262 8.07107 2.34315L2.41422 8L8.07107 13.6569C8.46159 14.0474 8.46159 14.6805 8.07107 15.0711C7.68054 15.4616 7.04738 15.4616 6.65685 15.0711L0.292892 8.70711ZM49 9H1V7H49V9Z"
                                    />
                                    <path
                                        d="M0.292892 8.70711C-0.0976295 8.31658 -0.0976295 7.68342 0.292892 7.29289L6.65685 0.928932C7.04738 0.538408 7.68054 0.538408 8.07107 0.928932C8.46159 1.31946 8.46159 1.95262 8.07107 2.34315L2.41422 8L8.07107 13.6569C8.46159 14.0474 8.46159 14.6805 8.07107 15.0711C7.68054 15.4616 7.04738 15.4616 6.65685 15.0711L0.292892 8.70711ZM49 9H1V7H49V9Z"
                                    />
                                </svg>
                            </a>
                            <span class="circle circle-primary"></span>
                            <a class="btn carousel-nav-next">
                                <svg
                                    width="49"
                                    height="16"
                                    viewBox="0 0 49 16"
                                    fill="currentColor"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M48.7071 8.70711C49.0976 8.31658 49.0976 7.68342 48.7071 7.29289L42.3431 0.928932C41.9526 0.538408 41.3195 0.538408 40.9289 0.928932C40.5384 1.31946 40.5384 1.95262 40.9289 2.34315L46.5858 8L40.9289 13.6569C40.5384 14.0474 40.5384 14.6805 40.9289 15.0711C41.3195 15.4616 41.9526 15.4616 42.3431 15.0711L48.7071 8.70711ZM0 9H48V7H0V9Z"
                                    />
                                    <path
                                        d="M48.7071 8.70711C49.0976 8.31658 49.0976 7.68342 48.7071 7.29289L42.3431 0.928932C41.9526 0.538408 41.3195 0.538408 40.9289 0.928932C40.5384 1.31946 40.5384 1.95262 40.9289 2.34315L46.5858 8L40.9289 13.6569C40.5384 14.0474 40.5384 14.6805 40.9289 15.0711C41.3195 15.4616 41.9526 15.4616 42.3431 15.0711L48.7071 8.70711ZM0 9H48V7H0V9Z"
                                    />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.col-md-3 -->
            </div>
            <!-- /.row-->
            <!-- END CAROUSEL -->
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
<!-- /.col -->
