<div class="col mb-5" id="counter">
    <div class="card shadow">
        <div class="p-2 border-bottom">
            <h3 class="card-title mb-0">Counters</h3>
        </div>
        <div class="card-body">
            <!-- COUNTERS -->
            <div class="col-md-12 my-4">
                <div class="row">
                    <div class="col-md-4">
                        <div class="achievment-item mb-3 mb-md-0">
                            <div class="achievment-circle">
                                <div class="achievment-circle-inner">
                                    <div class="achievment-circle-content">
                                        <h4 class="counter h2 d-flex align-items-center justify-content-center"><span class="circle me-2"></span> 480</h4>
                                        <span class="achievment-title text-uppercase">Satisfied Clients</span>
                                    </div>
                                    <!--/.achievment-circle-content -->
                                </div>
                                <!--/.achievment-circle-inner -->
                            </div>
                             <!--/.achievment-circle -->
                        </div>
                        <!--/.achievment -->
                    </div>
                    <!-- /.col-md-4 -->
                    <div class="col-md-4">
                        <div class="achievment-item mb-3 mb-md-0">
                            <div class="achievment-circle">
                                <div class="achievment-circle-inner">
                                    <div class="achievment-circle-content">
                                        <h4 class="counter h2 d-flex align-items-center justify-content-center"><span class="circle me-2"></span> 780</h4>
                                        <span class="achievment-title text-uppercase">Finished projects</span>
                                    </div>
                                    <!--/.achievment-circle-content -->
                                </div>
                                <!--/.achievment-circle-inner -->
                            </div>
                             <!--/.achievment-circle -->
                        </div>
                        <!--/.achievment -->
                    </div>
                    <!-- /.col-md-4 -->
                    <div class="col-md-4">
                        <div class="achievment-item mb-3 mb-md-0">
                            <div class="achievment-circle">
                                <div class="achievment-circle-inner">
                                    <div class="achievment-circle-content">
                                        <h4 class="counter h2 d-flex align-items-center justify-content-center"><span class="circle me-2"></span> 120</h4>
                                        <span class="achievment-title text-uppercase">Design Awwards</span>
                                    </div>
                                    <!--/.achievment-circle-content -->
                                </div>
                                <!--/.achievment-circle-inner -->
                            </div>
                             <!--/.achievment-circle -->
                        </div>
                        <!--/.achievment -->
                    </div>
                    <!-- /.col-md-4 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- END COUNTERS -->
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
<!-- /.col -->
