<div class="col mb-5" id="typography">
    <div class="card">
        <div class="p-3 border-bottom">
            <h3 class="card-title mb-0">Headings</h3>
        </div>
        <div class="card-body p-3">
            <!-- HEADINGS -->
            <h1>H1. Bootstrap heading</h1>
            <h2>H2. Bootstrap heading</h2>
            <h3>H3. Bootstrap heading</h3>
            <h4>H4. Bootstrap heading</h4>
            <h5>H5. Bootstrap heading</h5>
            <h6 class="mb-0">H6. Bootstrap heading</h6>
            <!-- END HEADINGS -->
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
<!-- /.col -->
