<div class="col mb-5" id="lists">
    <div class="card shadow">
        <div class="p-2 border-bottom">
            <h3 class="card-title mb-0">List</h3>
        </div>
        <div class="card-body">
            <!-- LIST -->
            <ul class="list-unordered bullet-primary mb-0">
                <li>Duis accumsan maximus dui vel iaculis.</li>
                <li>Duis accumsan maximus dui vel iaculis.</li>
                <li>Duis accumsan maximus dui vel iaculis.</li>
                <li>Duis accumsan maximus dui vel iaculis.</li>
            </ul>
            <!-- END LIST -->
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
<!-- /.col -->

<div class="col mb-5" id="lists-icons">
    <div class="card shadow">
        <div class="p-2 border-bottom">
            <h3 class="card-title mb-0">List With Icons</h3>
        </div>
        <div class="card-body">
            <!-- LIST -->
            <ul class="icon-list bullet-primary mb-0">
                <li>
                    <span><i class="bi bi-star"></i></span>
                    <span>Duis accumsan maximus dui vel iaculis.</span>
                </li>
                <li>
                    <span><i class="bi bi-check2-circle"></i></span>
                    <span>Duis accumsan maximus dui vel iaculis.</span>
                </li>
                <li>
                    <span><i class="bi bi-clock"></i></span>
                    <span>Duis accumsan maximus dui vel iaculis.</span>
                </li>
                <li>
                    <span><i class="bi bi-info-circle"></i></span>
                    <span>Duis accumsan maximus dui vel iaculis.</span>
                </li>
            </ul>
            <!-- END LIST -->
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
<!-- /.col -->
