<div class="col mb-5" id="media">
    <div class="card">
        <div class="p-2 border-bottom">
            <h5 class="card-title text-uppercase mb-0">Media Player</h5>
        </div>
        <div class="card-body px-4 py-5">
            <!-- PLAYER -->
            <div
                class="js-player"
                data-poster="./img/production/about/about-1@2x.jpg"
                data-plyr-provider="vimeo"
                data-plyr-embed-id="114031146"
            ></div>
            <!-- END PLAYER -->
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
<!-- /.col -->
