<div class="col mb-5" id="team">
    <div class="card shadow">
        <div class="p-2 border-bottom">
            <h3 class="card-title mb-0">Team</h3>
        </div>
        <div class="card-body">
            <!-- TEAM -->
            <div class="col-12">
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <!-- TEAM ITEM -->
                        <div class="team-member block-md-centered has-border-left text-center mb-4 mb-lg-8">
                            <div class="team-member-inner py-4 px-2 hover-zoomout">
                                <div class="hover-zoomout-wrapper rounded-circle mb-4 mx-auto">
                                    <img
                                        class="team-member-avatar"
                                        src="img/production/team/team-member-1.jpg"
                                        srcset="img/production/team/team-member-1@2x.jpg 2x"
                                        alt=""
                                    />
                                </div>
                                <h4 class="team-member-name text-dark text-uppercase">Alexandr Rich</h4>
                                <div class="team-member-meta mb-3">CEO</div>
                                <div class="social team-member-social">
                                    <ul class="list-unstyled social-icons mb-0">
                                        <li class="list-inline-item">
                                            <a href="javascript:void(0)" class="rounded">
                                                <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="24"
                                                    height="24"
                                                    viewBox="0 0 24 24"
                                                    fill="none"
                                                    stroke="currentColor"
                                                    stroke-width="2"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                    class="feather feather-facebook"
                                                >
                                                    <path
                                                        d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"
                                                    ></path>
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="javascript:void(0)" class="rounded">
                                                <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="24"
                                                    height="24"
                                                    viewBox="0 0 24 24"
                                                    fill="none"
                                                    stroke="currentColor"
                                                    stroke-width="2"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                    class="feather feather-instagram"
                                                >
                                                    <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                                                    <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                                                    <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="javascript:void(0)" class="rounded">
                                                <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="24"
                                                    height="24"
                                                    viewBox="0 0 24 24"
                                                    fill="none"
                                                    stroke="currentColor"
                                                    stroke-width="2"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                    class="feather feather-twitter"
                                                >
                                                    <path
                                                        d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"
                                                    ></path>
                                                </svg>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!--/.team-member-inner -->
                        </div>
                        <!-- /.team-member -->
                        <!-- END TEAM ITEM -->
                    </div>
                    <!-- /.col-md-6 col-lg-4 -->
                    <div class="col-md-6 col-lg-4">
                        <!-- TEAM ITEM -->
                        <div class="team-member block-md-centered has-border-left text-center mb-4 mb-lg-8">
                            <div class="team-member-inner py-4 px-2 hover-zoomout">
                                <div class="hover-zoomout-wrapper rounded-circle mb-4 mx-auto">
                                    <img
                                        class="team-member-avatar"
                                        src="img/production/team/team-member-2.jpg"
                                        srcset="img/production/team/team-member-2@2x.jpg 2x"
                                        alt=""
                                    />
                                </div>
                                <h4 class="team-member-name text-dark text-uppercase">Alexandr Rich</h4>
                                <div class="team-member-meta mb-3">CEO</div>
                                <div class="social">
                                    <ul class="list-unstyled social-icons mb-0">
                                        <li class="list-inline-item">
                                            <a href="javascript:void(0)" class="rounded">
                                                <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="24"
                                                    height="24"
                                                    viewBox="0 0 24 24"
                                                    fill="none"
                                                    stroke="currentColor"
                                                    stroke-width="2"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                    class="feather feather-facebook"
                                                >
                                                    <path
                                                        d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"
                                                    ></path>
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="javascript:void(0)" class="rounded">
                                                <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="24"
                                                    height="24"
                                                    viewBox="0 0 24 24"
                                                    fill="none"
                                                    stroke="currentColor"
                                                    stroke-width="2"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                    class="feather feather-instagram"
                                                >
                                                    <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                                                    <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                                                    <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="javascript:void(0)" class="rounded">
                                                <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="24"
                                                    height="24"
                                                    viewBox="0 0 24 24"
                                                    fill="none"
                                                    stroke="currentColor"
                                                    stroke-width="2"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                    class="feather feather-twitter"
                                                >
                                                    <path
                                                        d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"
                                                    ></path>
                                                </svg>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!--/.team-member-inner -->
                        </div>
                        <!-- /.team-member -->
                        <!-- END TEAM ITEM -->
                    </div>
                    <!-- /.col-md-6 col-lg-4 -->
                    <div class="col-md-6 col-lg-4">
                        <!-- TEAM ITEM -->
                        <div class="team-member block-md-centered has-border-left text-center mb-4 mb-lg-8">
                            <div class="team-member-inner py-4 px-2 hover-zoomout">
                                <div class="hover-zoomout-wrapper rounded-circle mb-4 mx-auto">
                                    <img
                                        class="team-member-avatar"
                                        src="img/production/team/team-member-3.jpg"
                                        srcset="img/production/team/team-member-3@2x.jpg 2x"
                                        alt=""
                                    />
                                </div>
                                <h4 class="team-member-name text-dark text-uppercase">Alexandr Rich</h4>
                                <div class="team-member-meta mb-3">CEO</div>
                                <div class="social">
                                    <ul class="list-unstyled social-icons mb-0">
                                        <li class="list-inline-item">
                                            <a href="javascript:void(0)" class="rounded">
                                                <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="24"
                                                    height="24"
                                                    viewBox="0 0 24 24"
                                                    fill="none"
                                                    stroke="currentColor"
                                                    stroke-width="2"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                    class="feather feather-facebook"
                                                >
                                                    <path
                                                        d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"
                                                    ></path>
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="javascript:void(0)" class="rounded">
                                                <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="24"
                                                    height="24"
                                                    viewBox="0 0 24 24"
                                                    fill="none"
                                                    stroke="currentColor"
                                                    stroke-width="2"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                    class="feather feather-instagram"
                                                >
                                                    <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                                                    <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                                                    <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="javascript:void(0)" class="rounded">
                                                <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="24"
                                                    height="24"
                                                    viewBox="0 0 24 24"
                                                    fill="none"
                                                    stroke="currentColor"
                                                    stroke-width="2"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                    class="feather feather-twitter"
                                                >
                                                    <path
                                                        d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"
                                                    ></path>
                                                </svg>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!--/.team-member-inner -->
                        </div>
                        <!-- /.team-member -->
                        <!-- END TEAM ITEM -->
                    </div>
                    <!-- /.col-md-6 col-lg-4 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.col-12 -->
            <!-- END TEAM -->
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
<!-- /.col -->
