<div class="col mb-5" id="testimonials">
    <div class="card shadow">
        <div class="p-2 border-bottom">
            <h3 class="card-title mb-0">Testimonials</h3>
        </div>
        <div class="card-body">
            <div class="col-md-12">
                <!-- TESTIMONIAL -->
                <div class="testimonial d-flex mb-4">
                    <div class="testimonial-thumb me-3 me-lg-4">
                        <img src="img/production/companies/company-logo.jpg" srcset="img/production/companies/company-logo@2x.jpg" alt="Testimonial avatar" class="testimonial-img" />
                    </div>
                    <!-- /.testimonial-thumb -->
                    <div class="testimonial-content has-border-left">
                        <h3 class="testimonial-title text-dark text-uppercase">I use this service all the time</h3>
                        <p class="testimonial-desc">
                            The final frontier. These are the voyages of the Starship Enterprise? As long as we live its
                            you and me baby. There ain't nothin' Beats all you've ever saw.
                        </p>
                        <div class="testimonial-meta">
                            <span class="author">Joahn Doe</span>
                        </div>
                        <!-- /.testimonial-meta -->
                    </div>
                    <!-- /.testimonial-content -->
                </div>
                <!-- /.testimonial -->
                <!-- END TESTIMONIAL -->
                <!-- TESTIMONIAL -->
                <div class="testimonial d-flex mb-4">
                    <div class="testimonial-thumb me-3 me-lg-4">
                        <img src="img/production/companies/company-logo.jpg" srcset="img/production/companies/company-logo@2x.jpg" alt="Testimonial avatar" class="testimonial-img" />
                    </div>
                    <!-- /.testimonial-thumb -->
                    <div class="testimonial-content has-border-left">
                        <h3 class="testimonial-title text-dark text-uppercase">I use this service all the time</h3>
                        <p class="testimonial-desc">
                            The final frontier. These are the voyages of the Starship Enterprise? As long as we live its
                            you and me baby. There ain't nothin' Beats all you've ever saw.
                        </p>
                        <div class="testimonial-meta">
                            <span class="author">Joahn Doe</span>
                        </div>
                        <!-- /.testimonial-meta -->
                    </div>
                    <!-- /.testimonial-content -->
                </div>
                <!-- /.testimonial -->
                <!-- END TESTIMONIAL -->
            </div>
            <!-- /.col-md-12 -->
        </div>
    </div>
    <!-- /.card -->
</div>
<!-- /.col -->
