<div class="col mb-5" id="typed-headings">
    <div class="card shadow">
        <div class="p-2 border-bottom">
            <h3 class="card-title mb-0">Typed headings</h3>
        </div>
        <div class="card-body">
            <!-- TYPED HEADING -->
            <h1 class="hero-title">
                We are
                <span
                    id="hero-typer"
                    class="typer"
                    data-delay="40"
                    data-delete-delay="6000"
                    data-words="top-notch company,professional team,talented people"
                >
                </span
                ><span class="cursor text-primary" data-cursorDisplay="|" data-owner="hero-typer"></span>
            </h1>
            <!-- END TYPED HEADING -->
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
<!-- /.col -->
