<script src="js/lib/jquery.min.js"></script>

<script src="js/lib/bootstrap.bundle.min.js"></script>
<script src="js/lib/imagesloaded.pkgd.min.js"></script>
<script src="js/lib/isotope.pkgd.min.js"></script>
<script src="js/lib/spotlight.bundle.js"></script>

 <!-- Waypoints -->
<script src="js/lib/noframework.waypoints.min.js"></script>

 <!-- Plyr Video Player -->
<script src="js/lib/plyr.js"></script>

 <!-- Typer -->
<script src="js/lib/typer.js"></script>

 <!-- Swiper Slider -->
<script src="js/lib/swiper-bundle.min.js"></script>

 <!-- Progress bar -->
<script src="js/lib/progressbar.min.js"></script>

 <!-- Counter Up -->
<script src="js/lib/counterup2.min.js"></script>

 <!-- Theme scripts -->
<script src="js/main.js"></script>