@@include('preloader.html')

<header id="site-header">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <div class="navbar-brand">
        <!-- LOGO -->
        <a href="index.html">
          <img src="img/production/logo.png" width="80" alt="logo" />
        </a>
        <!-- /LOGO -->
      </div><!-- /.offcanvas-brand -->
      <div class="navbar-collapse offcanvas-collapse" id="main-navigation">
        <div class="offcanvas-header mb-2 d-lg-none d-xl-none d-xxl-none">
          <a href="index.html">
            <img src="img/production/logo.png" srcset="img/production/logo.png 2x" width="100" height="36" alt="logo">
          </a>
          <button type="button" class="btn-close offcanvas-close"
            aria-label="Close"></button>
        </div><!-- /.offcanvas-header -->
        <!-- MENU LIST -->
        <ul class="navbar-nav ms-auto mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdownMenuLink1" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">Demos</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
              <li><a class="dropdown-item" href="index.html">Home 1</a></li>
              <li><a class="dropdown-item" href="index-2.html">Home 2</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdownMenuLink2" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">Pages</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
              <li><a class="dropdown-item" href="about.html">About</a></li>
              <li><a class="dropdown-item" href="faq.html">FAQ</a></li>
              <li><a class="dropdown-item" href="contact-us.html">Contact us</a></li>
              <li><a class="dropdown-item" href="contact-us-2.html">Contact us 2</a></li>
              <li><a class="dropdown-item" href="contact-us-3.html">Contact us 3</a></li>
              <li><a class="dropdown-item" href="pricing-tables.html">Pricing Tables</a></li>
              <li><a class="dropdown-item" href="components.html">Components</a></li>
              <li><a class="dropdown-item" href="404.html">404</a></li>

            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdownMenuLink3" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Services
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
              <li><a class="dropdown-item" href="services.html">Services</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdownMenuLink4" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Portfolio
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink4">
              <li><a class="dropdown-item" href="portfolio.html">Portfolio</a></li>
              <li><a class="dropdown-item" href="portfolio-2.html">Portfolio 2</a></li>
              <li><a class="dropdown-item" href="portfolio-3.html">Portfolio 3</a></li>
              <li><a class="dropdown-item" href="project-details.html">Project Details</a></li>
              <li><a class="dropdown-item" href="project-details-2.html">Project Details 2</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdownMenuLink5" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Blog
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink5">
              <li><a class="dropdown-item" href="blog.html">Blog Left Sidebar</a></li>
              <li><a class="dropdown-item" href="blog-details.html">Blog details</a></li>
              <li><a class="dropdown-item" href="blog-details-no-sidebar.html">Blog details no sidebar</a></li>
            </ul>
          </li>
        </ul><!-- /.navbar-nav -->
        <!-- /MENU LIST -->
      </div><!-- /.navbar-collapse -->
      <!-- EXTARS -->
      <div class="navbar-extra ms-auto">
        <ul class="list-inline mb-0">
          <li class="list-inline-item mb-0">
            <a href="contact-us.html" class="btn btn-nav-accent ms-lg-7">
              <span class="btn-label">Contact us</span>
            </a>
          </li>
        </ul>
      </div><!-- /.navbar-extra -->
      <!-- /EXTARS -->
      <!-- HAMBURGER BTN -->
      <button class="navbar-hamburger ms-4 d-lg-none d-xl-none d-xxl-none" type="button" data-offcanvas-toggle="offcanvas" aria-label="Toggle navigation">
        <span></span>
      </button>
      <!-- /HAMBURGER BTN -->
    </div><!-- /.container -->
  </nav><!-- /.navbar -->
</header><!-- /#site-header -->

